body {
	background:purple;
	font-size:12px;
}

.container {
	margin:0 auto;
	width:500px;
	margin-top:20px;
}

.picsize {
	height:257px;
	width:500px;
}

#slideshow #slideshowWindow {
	width:500px;
	height:257px;
	margin:0;
	padding:0;
	position:relative;
	overflow:hidden;
}

#slidesow #slideshowWindow .slide {
	margin:0;
	padding:0;
	width:500px;
	height:257px;
	position:relative;
}

#slideshow #slideshowWindow .slide .slideText {
	position:absolute;
	margin:0;
	padding:0;
	width:100%;
	height:130px;
	top:130px;
	left:0px;
	color:#ffffff;
	background-image:url(greyBg.png);
	background-repeat:repeat;
	font-family:Myriad Pro, Arial, Helvetica, sans-serif;
}

#slideshow #slideshowWindow .slide .slideText a:link, 
#slideshow #slideshowWindow .slide .slideText a:visited {
	color:#ffffff;
	text-decoration:none;
}

#slideshow #slideshowWindow .slide .slideText h2, 
#slideshow #slideshowWindow .slide .slideText p {
	margin:10px 0 0 10px;
	padding:0;
}

