body {
	background:#f6f6ff;
	position:relative;
	z-index:-1;
	top:-60px;
	display:block;
	margin:0 auto;
	margin-top:0;
	width:100%:
}

a {
	text-decoration:none;
}

#container-wrap-wrap {
	position:relative;
}

#container-wrap {
	margin: 0 auto;
	width: 960px;
}

#container {
	margin: 0;
	padding: 0;
}

#header {
	height:200px;
	position:relative;
	-webkit-font-smoothing: antialiased;
}

#header h1 {
	position:relative;
	width:260px;
	height:104px;
	margin:0;
	display:block;
	top:64px;
}

#header h1 a {
	display:block;
	position:relative;
	margin-top:10px;
	height:104px;
	width:260px;
	background: url(http://www.icondeposit.com/local--files/start/l.PNG) no-repeat 0px 0px;
	opacity:1;
	-webkit-transition:opacity .17s ease;
	transition:opacity .17s ease:
	margin-bottom:10px;
}

#header h1 a span {
	display:none;
}

#header h2 {
	display:none;
	margin:0;
	padding:0;
}

#search-top-box {
	position:absolute;
	right:0px;
	top:70px;
	height:32px;
	width:auto;
	text-align:right;
	border-left:1px solid #ddd;
	-webkit-transition:all 500ms ease 
	transition: all 500ms ease;
}

#search-top-box-form {
	margin:0;
	padding:0;
}

#search-top-box input.text {
	margin:0;
	padding:7px 25px 7px 5px;
	width:16px;
	background:none;
	color:transparent;
	-webkit-transition:all 500ms ease;
	border:1px solid transparent;
	z-index:60;
	top:-1px;
}

#search-top-box input.button {
	position:absolute;
	top:3px;
	right:0px;
	border:none;
	display:block;
	width:22px;
	height:25px;
	padding:0;
	background:transparent url(http://www.icondeposit.com/local--files/test-categ:_1/search.png) no-repeat top left;
	color:transparent;
	text-indent:-9999px;
	line-height:0;
	-webkit-box-shadow:none;
	box-shadow:none;
	z-index:-1;
}

#top-bar {
	display:block;
	background-image:none;
	background-color:transparent;
	border-bottom:1px solid #ddd;
	border-top:none;
	border-left:none;
	border-right:none;
	box-shadow:none;
	-webkit-box-shadow:none;
	border-radius:0;
	-webkit-border-radius:0;
	line-height:19px;
	height:42px;
	bottom:0;
	left:0;
	position:absolute;
	width:960px;
	z-index:2;
	top:138px;
	font-family:"Helvetica";
}

#top-bar ul {
	border-right:none;
	float:right;
	padding:0;
	height:42px;
	margin:0;
	padding-right:0px;
	border:none;
	list-style:none;
	-webkit-margin-before:1em;
	-webkit-margin-after:1em;
	-webkit-margin-start:0px;
	-webkit-margin-end:0px;
	-webkit-padding-start:40px;
}

#top-bar ul li {
	display:inline;
	padding:0;
	height:30px;
	margin:0;
	position:relative;
	font-weight:bold;
}

#top-bar li {
	list-style:none;
	float:left;
}

#top-bar ul li a, #top-bar ul li:first-child a {
	border-left:none;
	border-right:none;
	border-top:none;
	border-bottom:1px solid transparent;
	-webkit-border-radius:0;
	background-image:none;
	background-color:none;
	color:#555;
	text-shadow:none;
	-webkit-transition:all .4s ease;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	padding-left:23px;
	padding-right:23px;
	padding-bottom:9px;
}

#top-bar ul li:hover a {
	color:#2ba09e;
	border-bottom:1px solid #2ba09e;
	-webkit-border-radius:0;
	border-radius:0;
}

#social-container {
	display:block;
}

.social {
	position:absolute;
	top:-63px;
	z-index:-1;
	margin-bottom:0px;
	-webkit-transition:all 400ms ease-out;
	opacity:1;
}

.social.googleplus, .social.forrst, .social.twitterus, .social.dribble {
	background-color:transparent;
	-webkit-border-radius:3px;
	border-radius:3px;
	height:30px;
	width:30px;
}

.social.googleplus {
	right:171px;
}

.social.forrst {
	right:138px;
}

.social.twitterus {
	right:100px;
}

.social.dribble {
	right:70px;
}

#login-status {
	top:-63px;
	display:inline-block;
	font-size:12px;
	right:230px;
	color:#bbb;
	opacit:.95;
	-webkit-transition:all 250ms ease-in-out;
	position:absolute;
	overflow:visible;
	z-index:25;
	font-family:"Helvetica";
}

#login-status a {
	color:#9b9b9b;
	text-decoration:none;
}

a.login-status-create-account, a.login-status-sign-in {
	padding:2px 5px 3px 5px;
	border:1px solid #ddd;
	border-radius:3px;
	background:#ececec;
	box-shadow:inset 0px 10px 10px rgba(255,255,255,0.69);
}

#login-status a:hover {
	color:#555;
}

a.login-status-sign-in {
	margin-left:-15px;
}

#content-wrap {
	top: 69px;
	margin-top:15px;
	margin:0 auto;
	width:960px;
	min-height:800px;
	overflow:visible;
	position:relative;
	padding:0px;
	clear:both;
}

#side-bar {
	display:none;
	float:right;
	padding:10px;
	width:220px;
	margin:0;
}

#main-content {
	margin-bottom:90px;
	left:0px;
	padding:0px;
	width:960px;
	margin:0 auto;
	font-family:"Helvetica Neue", Helvetica, Tahoma, sans serif;
	font-weight:normal;
	font-style:normal;
	-webkit-font-smoothing:antialiased;
	position:relative;
	overflow:visible;
	top:-80px;
	color:#222;
	z-index:0;
	float:left;
	-webkit-border-radius:2px;
}

#action-area-top {
	display:block;
	color:rgba(255, 255, 255, .85);
	background:#EA4C88;
}

#page-title {
	display:none;
	font-size:170%;
	-webkit-border-radius:2px;
	-webkit-box-shadow:0 0 5px rgba(0, 0, 0, 0.6);
	text-shadow:1px 1px 1px rgba(0, 0, 0, 1);
	color:#e5e5e5;
	line-height:20px;
	font-weight:normal;
	letter-spacing:-1px;
	margin-top:-52px;
	background-color:#2191d1;
	background-image: -webkit-gradient(linear, 0%, 0%, 0%, 100%, from(#25a6ef), to(#2191d1));
	width:500px;
	height:19px;
	padding:3px 20px 10px 10px;
	position:relative;
	top:55px;
	left:-10px;
	text-indent:10px;
	background:url(http://icondeposit.wdfiles.com/local--files/admin%3Amanage/horizontalrule.gif) repeat-x 0 bottom;
	border-bottom:1px solid #666;
}

#page-title:after {
	margin-top:6px;
	border-color:#050505 transparent;
	content:"\00a0";
	display:block;
	position:relative;
	top:2px;
	margin-left:-10px;
	width:0;
	height:0;
	border-width:10px 0 10px 10px;
	border-style:solid;
	z-index:-1;
	border-top-width:7px;
	opacity:.70;
}

#page-content {
	overflow:visible;
	padding:0px;
	width:960px;
	margin:0 auto;
	position:relative;
}

.bsa-banner {
	z-index:999;
	position:absolute;
	left:-9999px;
}

.home-design-template {
	width:100%;
	height:auto;
}

.breadcrumbs {
	border:1px solid #ddd;
	overflow:hidden;
	background:rgba(0, 0, 0, 0.05);
	position:relative;
	-webkit-border-radius:6px;
	border-radius:6px;
	height:26px;
	font-size:100%;
	margin-top:-7px;
}

.breadcrumbs p {
	margin:0;
	line-height:2.2em;
	display:inline;
	text-shadow:none;
	font-family:Helvetica; 
	font-size:75%;
}

.breadcrumbs a {
	color:#7e7e7e;
	float:left;
	margin:0px 10px 1px 0;
	background: transparent url(http://icondeposit.wdfiles.com/local--files/theicondeposit%3A_start/breads.png) no-repeat right center;
	padding:0px 28px 0px 0;
	text-decoration:none;
	font-size:110%;
	background-size:0 100% 0 0;
	height:auto;
	background-position:33px -17px;
	text-shadow:none;
}

.breadcrumbs a:hover {
	color:#111;
	opacity:1;
	text-decoration:none;
}

.breadcrumbs span.bread-home {
	text-indent:-9999px;
}

.breadcrumbs span.bread-home a {
	text-indent:-9999px;
	display:inline-block;
	background-repeat:no-repeat;
	background-image:url(http://www.icondeposit.com/local--files/theicondeposit:_start/home-icon.png), url(http://www.icondeposit.com/local--files/theicondeposit:_start/breads.png);
	background-position:left 4px, right center;
	padding:2px 32px 0px 0px;
	margin:0 10px 0 10px;
	color:transparent;
	text-shadow:none;
}

.breadcrumbs span.bread-home a:hover {
	background-position:left -30px, right center;
}

.rssbox {
	position:absolute;
	z-index:80;
	right:10px;
	top:-10px;
	overflow:visible;
	width:16px;
	display:block;
	height:16px;
}

.rssbox span.rss {
	position:absolute;
	z-index:100;
	right:-5px;
	top:42px;
	width:150px;
	padding:10px;
	height:auto;
	background:rgba(0, 0, 0, .75);
	border-radius:3px;
	-webkit-border-radius:3px;
	color:#fff;
	opacity:0;
	visibility:hidden;
	-web-transition:all .2s ease;
	transition:all .2s ease;
}

.rssbox span.rss a, .rssbox span.rss a:hover {
	text-shadow:none;
	font-size:12px;
	color:#fff;
	text-decoration:none;
}

.rssbox span.rss::before {
	content: '';
	display:block;
	width:0;
	height:0;
	position:absolute;
	border:solid;
	top:-10px;
	left:50%;
	margin-left:65px;
	z-index:100;
	border-image:initial;
	border-width:5px;
	border-color:transparent transparent rgba(0, 0, 0, .75) transparent;
}
.rssbox:hover span.rss {
	opacity:1;
	visibility:visible;
	top:32px;
}

.rssbox img {
	opacity:.5;
}

.rssbox img:hover {
	opacity:.90;
}

.rssbox span.rss a, .rssbox span.rss a:hover {
	text-shadow:none;
	color:white;
}

.trinity-content {
	width:590px;
	float:left;
	height:auto;
	overflow:visible;
}

.tmimg {
	width:590px;
	height:443px;
	background:transparent url(http://www.icondeposit.com/local--files/dev:_start/transparency%20pixel%20pattern.png) 0 0 repeat;
	overflow:hidden;
	border:10px solid #fff;
	position:relative;
	left:0px;
	margin:0;
	margin-top:12px;
	box-shadow:0px 1px 3px rgba(0, 0, 0, 0.1), 0px 0px 1px rgba(0, 0, 0, 0.17);
	border-radius:1px;
}

.favratetweetshare {
	display:block;
	height:463px;
	padding-top:0px;
	padding-bottom:0px;
	top:40px;
	overflow:visible;
	width:93px;
	background:#fff;
	border-radius:2px;
	box-shadow:0 0px 3px rgba(0, 0, 0, .35), inset 0 0 1px #fff;
	border:none;
	position:absolute;
	left:633px;
}

.page-rate-widget-box {
	width:56px;
	height:56px;
	display:block;
	position:absolute;
	top:18px;
	text-align:center;
	left:12px;
}

.page-rate-widget-box .rate-points {
	text-indent:-9999px;
	display:block;
	position:absolute;
	height:auto;
	width:56px;
	border:none;
	background:none;
	box-shadow:none;
	-webkit-box-shadow:none;
	text-align:center;
	top:8%;
	padding:0;
	margin:0;
	font-weight:bold;
}

.page-rate-widget-box .number.prw54353 {
	text-indent:34px;
	display:block;
	position:absolute;
	text-align:left;
	width:100%;
	height:100%;
	color:#666;
	font-size:15px;
	background:url(http://www.icondeposit.com/local--files/idbt:_template/socsprite.png) 12px 0px no-repeat;
	font-family:"Helvetica Neue";
}

.page-rate-widget-box:hover, .comment-count:hover {
	opacity:.69;
}

.rage-rate-down {
	position:absolute;
	top:62px;
	left:25px;
	font-weight:bold;
}

.page-rate-up {
	position:absolute;
	top:62px;
	left:50px;
	font-weight:bold;
}

.clear-local {
	position:absolute;
	top:62px;
	left:75px;
	font-weight:bold;
}

.comment-count {
	position:absolute;
	display:block;
	width:56px;
	height:56px;
	left:18px;
	text-align:center;
	padding:0;
	top:106px;
}

.comment-count a {
	position:absolute;
	padding:24px 0 9px 0;
	width:56px;
	height:auto;
	top:0;
	left:0;
	color:#666;
	font-size:12px;
	background:url(http://www.icondeposit.com/local--files/idbt:_template/socsprite.png) 9px -44px no-repeat;
}

.c-count {
	height:auto;
	display:block;
	margin-bottom:-30px;
}

.c-count a {
	padding:0px 0px 38px 0px;
	display:block;
	font-size:15px;
	font-weight:bold;
	text-indent:22px;
}

.emptyspace {
	width:56px;
	height:56px;
	position:absolute;
	display:block;
	top:190px;
	text-align:center;
	left:18px;
	padding:0;
}

.tweet-gplus-boxes {
	display:block;
	left:15px;
	top:271px;
	width:62px;
	position:absolute;
	z-index:101;
	height:auto;
}

.gplus-box {
	display:inline-block;
	left:20px;
	top:363px;
	width:51px;
	position:absolute;
	height:76px;
	z-index:100;
	overflow:hidden;
}	

iframe[frameborder] {
	border:none;
}

iframe.html-block-iframe {
	width:100%;
	margin:0;
	padding:0;
	background:transparent;
}

.tagstagstags {
	width:610px;
	height:auto;
	margin:0;
	padding:10px 10px 10px 10px;
}
