body {
	position:relative;
	z-index:-1;
	top:-60px;
	display:block;
	margin:0 auto;
	margin-top:0;
	width:100%:
}

#container-wrap-wrap {
	position:relative;
}

#container-wrap {
	margin: 0 auto;
	width: 960px;
}

#container {
	margin: 0;
	padding: 0;
}

#header {
	height:200px;
	position:relative;
	-webkit-font-smoothing: antialiased;
}

#header h1 {
	position:relative;
	width:260px;
	height:104px;
	margin:0;
	display:block;
	top:64px;
}

#header h1 a {
	display:block;
	position:relative;
	margin-top:10px;
	height:104px;
	width:260px;
	background: url(http://www.icondeposit.com/local--files/start/l.PNG) no-repeat 0px 0px;
	opacity:1;
	-webkit-transition:opacity .17s ease;
	transition:opacity .17s ease:
	margin-bottom:10px;
}

#header h1 a span {
	display:none;
}

#header h2 {
	display:none;
	margin:0;
	padding:0;
}

#search-top-box {
	position:absolute;
	right:0px;
	top:70px;
	height:32px;
	width:auto;
	text-align:right;
	border-left:1px solid #ddd;
	-webkit-transition:all 500ms ease 
	transition: all 500ms ease;
}

#search-top-box-form {
	margin:0;
	padding:0;
}

#search-top-box input.text {
	margin:0;
	padding:7px 25px 7px 5px;
	width:16px;
	background:none;
	color:transparent;
	-webkit-transition:all 500ms ease;
	border:1px solid transparent;
	z-index:60;
	top:-1px;
}

#search-top-box input.button {
	position:absolute;
	top:3px;
	right:0px;
	border:none;
	display:block;
	width:22px;
	height:25px;
	padding:0;
	background:transparent url(http://www.icondeposit.com/local--files/test-categ:_1/search.png) no-repeat top left;
	color:transparent;
	text-indent:-9999px;
	line-height:0;
	-webkit-box-shadow:none;
	box-shadow:none;
	z-index:-1;
}

#top-bar {
	display:block;
	background-image:none;
	background-color:transparent;
	border-bottom:1px solid #ddd;
	border-top:none;
	border-left:none;
	border-right:none;
	box-shadow:none;
	-webkit-box-shadow:none;
	border-radius:0;
	-webkit-border-radius:0;
	line-height:19px;
	height:42px;
	bottom:0;
	left:0;
	position:absolute;
	width:960px;
	z-index:2;
	top:138px;
	font-family:"Helvetica";
}

#top-bar ul {
	border-right:none;
	float:right;
	padding:0;
	height:42px;
	margin:0;
	padding-right:0px;
	border:none;
	list-style:none;
	-webkit-margin-before:1em;
	-webkit-margin-after:1em;
	-webkit-margin-start:0px;
	-webkit-margin-end:0px;
	-webkit-padding-start:40px;
}

#top-bar ul li {
	display:inline;
	padding:0;
	height:30px;
	margin:0;
	position:relative;
	font-weight:bold;
}

#top-bar li {
	list-style:none;
	float:left;
}

#top-bar ul li a, #top-bar ul li:first-child a {
	border-left:none;
	border-right:none;
	border-top:none;
	border-bottom:1px solid transparent;
	-webkit-border-radius:0;
	background-image:none;
	background-color:none;
	color:#555;
	text-shadow:none;
	-webkit-transition:all .4s ease;
	font-size:13px;
	font-weight:bold;
	text-align:center;
	text-decoration:none;
	padding-left:23px;
	padding-right:23px;
	padding-bottom:9px;
}

#top-bar ul li:hover a {
	color:#2ba09e;
	border-bottom:1px solid #2ba09e;
	-webkit-border-radius:0;
	border-radius:0;
}

#social-container {
	display:block;
}

.social {
	position:absolute;
	top:-63px;
	z-index:-1;
	margin-bottom:0px;
	-webkit-transition:all 400ms ease-out;
	opacity:1;
}

.social.googleplus, .social.forrst, .social.twitterus, .social.dribble {
	background-color:transparent;
	-webkit-border-radius:3px;
	border-radius:3px;
	height:30px;
	width:30px;
}

.social.googleplus {
	right:171px;
}

.social.forrst {
	right:138px;
}

.social.twitterus {
	right:100px;
}

.social.dribble {
	right:70px;
}

#login-status {
	top:-63px;
	display:inline-block;
	font-size:12px;
	right:230px;
	color:#bbb;
	opacit:.95;
	-webkit-transition:all 250ms ease-in-out;
	position:absolute;
	overflow:visible;
	z-index:25;
	font-family:"Helvetica";
}

#login-status a {
	color:#9b9b9b;
	text-decoration:none;
}

a.login-status-create-account, a.login-status-sign-in {
	padding:2px 5px 3px 5px;
	border:1px solid #ddd;
	border-radius:3px;
	background:#ececec;
	box-shadow:inset 0px 10px 10px rgba(255,255,255,0.69);
}

#login-status a:hover {
	color:#555;
}

a.login-status-sign-in {
	margin-left:-15px;
}

#extra-div-3 {
	background:transparent url(http://icondeposit.wdfiles.com/local--files/our-clients/header_dashed.png) 0 0 repeat-x;
	position:absolute;
	width:100%;
	top:50px;
	height:5px;
	margin-top:0;
	display:block;
}
