@font-face {
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 22px;
  background: linear-gradient(#003421, #000b07);
  background: #222;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  outline: none;
  font-size: 16px;
  background: transparent;
  color: #000;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  box-shadow: 0 0px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 2px 1px -1px rgba(0, 0, 0, 0.12);
  padding: 0px;
  transition: 200ms;
  cursor: pointer;
  margin-right: 10px;
}
button:hover {
  opacity: 0.4;
}
button.active {
  opacity: 0.4;
}
button span {
  padding: 12px 12px;
  display: inline-block;
  background: #fff;
  margin-left: -5px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
button span.awesome {
  background: #222;
  background: #fff;
  color: #1b415f;
  background: #97c1e2;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  text-shadow: none;
}
button span.awesome i {
  font-size: 18px;
}
@media (max-width: 675px) {
  button span.text {
    display: none;
  }
}
.content {
  z-index: 0;
  -webkit-transition: -webkit-transform 0.6s ease-in-out;
  transition: transform 0.6s ease-in-out;
  height: 100%;
}
.headerImg {
  background-image: url('../images/waterfall-progressive.jpg');
  width: 100%;
  min-height: 55%;
  background-size: cover;
  position: relative;
  float: left;
  text-align: center;
}
.headerImg .toolBar {
  display: inline-block;
  text-shadow: 0px -1px #000;
  font-size: 28px;
  background: rgba(0, 0, 0, 0.85);
  color: #eee;
  text-shadow: 1px 1px #000;
  box-shadow: 0px 0px 5px -1px #000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  padding: 20px 35px 20px 35px;
}
.headerImg .toolBar span {
  transition: 200ms;
  cursor: pointer;
}
.headerImg .toolBar span:hover {
  color: #555;
  transform: scale(1.2);
}
.headerImg .toolBar i {
  margin: 0px 16px;
  color: #444;
}
.headerImg .header {
  font-size: 34px;
  text-shadow: 1px 1px #000;
  width: calc(100% - 40px);
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0px;
  text-align: left;
  padding: 20px;
}
.projects {
  width: 100%;
  position: relative;
  float: left;
  background: #fff;
}
.projects .imgGallery {
  float: left;
  z-index: 100;
  padding: 30px;
  width: calc(100% - 60px);
  border-radius: 12px;
  overflow: hidden;
  height: auto;
  max-height: 1000px;
  transition: opacity 200ms;
  opacity: 1;
}
.projects .imgGallery .alert {
  width: 100%;
  float: left;
  font-size: 20px;
  text-align: center;
  color: #222;
  margin-bottom: 20px;
}
.projects .imgGallery .alert i {
  color: #550000;
  color: #000;
  margin: 0px 5px;
}
.projects .imgGallery .selectedImg {
  position: relative;
  margin: 0 auto;
}
.projects .imgGallery .selectedImg img {
  display: block;
  max-width: 90%;
  max-height: 90%;
  margin: 10px auto;
  border-radius: 12px;
  cursor: pointer;
  border: 6px solid #fff;
  box-shadow: 0px 0px 5px -1px #555;
}
.projects .imgGallery.ng-hide,
.projects .sliderView.ng-hide {
  display: block !important;
  height: 0px;
  max-height: 0px;
  overflow: hidden;
  padding: 0px;
  margin: 0px;
  opacity: 0;
  transition: opacity 200ms;
}
.projects .sliderView {
  width: calc(100% - 100px);
  overflow: hidden;
  margin: 0 auto;
  opacity: 1;
  transition: opacity 200ms;
}
.projects .sliderView .sliderContent {
  width: 300%;
  float: left;
  transition: 500ms ease-in-out;
  display: flex;
  position: relative;
}
.projects .sliderView .sliderContent .projWrap {
  margin: 60px 10px 40px;
  float: left;
  padding: 20px;
  flex: 1;
  border-radius: 12px;
  transition: 800ms ease-in-out;
  overflow: hidden;
  background: rgba(27, 27, 27, 0.8);
  background: rgba(27, 27, 27, 0.1);
  background-image: url('../images/greyBg.jpg');
  font-family: 'Open Sans', sans-serif;
}
.projects .sliderView .sliderContent .projWrap h1 {
  font-size: 26px;
  margin: 20px;
  color: #000;
}
@media (max-width: 500px) {
  .projects .sliderView .sliderContent .projWrap h1 {
    font-size: 22px;
  }
}
.projects .sliderView .sliderContent .projWrap h1 .date {
  float: right;
  font-size: 20px;
  margin-right: 20px;
  color: #7e93de;
  color: #5a74d4;
}
@media (max-width: 560px) {
  .projects .sliderView .sliderContent .projWrap h1 .date {
    display: none;
  }
}
.projects .sliderView .sliderContent .projWrap h1 .clickable {
  transition: 200ms;
}
.projects .sliderView .sliderContent .projWrap h1 .clickable:hover {
  opacity: 0.2;
}
.projects .sliderView .sliderContent .projWrap h1 .clickable i {
  font-size: 21px;
  margin: 0px 5px;
}
.projects .sliderView .sliderContent .projWrap p {
  width: 90%;
  margin: 10px auto 30px;
  font-size: 20px;
  line-height: 32px;
  color: #222;
}
.projects .sliderView .sliderContent .projWrap p .purple,
.projects .sliderView .sliderContent .projWrap p .blue,
.projects .sliderView .sliderContent .projWrap p .white {
  font-weight: bold;
  font-size: 22px;
  text-decoration: underline;
}
.projects .sliderView .sliderContent .projWrap .thumbWrap {
  display: flex;
  flex-wrap: nowrap;
  width: 95%;
  margin: 0 auto;
}
.projects .sliderView .sliderContent .projWrap .thumbWrap .imgWrap {
  flex-grow: 1;
  margin: 10px;
  text-align: center;
  /*
                        .spec1 { background-image:url('../images/spectrum1-prog.jpg'); }
                        .spec2 { background-image:url('../images/spectrum3-prog.jpg'); }
                        .spec3 { background-image:url('../images/spectrum2-prog.jpg'); }
                        .wr1   { background-image:url('../images/webroad1.png'); }
                        .wr2   { background-image:url('../images/webroad2.png'); }
                        .wr4   { background-image:url('../images/webroad4.png'); }
                        .wr3   { background-image:url('../images/webroad3.png'); }
                        .var1  { background-image:url('../images/latestSite.png'); }
                        .var2  { background-image:url('../images/oldsite.png'); }
                        .var3  { background-image:url('../images/newcover.png'); }
                        */
}
.projects .sliderView .sliderContent .projWrap .thumbWrap .imgWrap img {
  width: 100%;
  max-height: auto;
  border-radius: 6px;
  box-shadow: 1px 1px 4px 0px #555;
  cursor: pointer;
}
.projects .sliderView .sliderContent .projWrap .thumbWrap .imgWrap button {
  margin: 20px 0px 0px;
  display: inline-block;
}
.projects .sliderView .sliderContent .projWrap .thumbWrap .imgWrap button span {
  margin-top: -1px;
}
.projects .sliderView .sliderContent .projWrap .thumbWrap .imgWrap button span.awesome {
  background: transparent;
  color: #000;
  padding: 12px 14px 12px 16px;
}
.projects .sliderView .sliderContent .projWrap .thumbWrap .imgWrap button span.text {
  font-size: 14px;
}
.projects .sliderView .sliderContent .projWrap .thumbWrap .imgWrap .blue {
  background: #7b90b5;
}
.projects .sliderView .sliderContent .projWrap .thumbWrap .imgWrap .purple {
  background: #9c5fb3;
}
.projects .sliderView .sliderContent .projWrap .thumbWrap .imgWrap .white {
  background: #eee;
}
.projects .rightNav,
.projects .leftNav {
  font-size: 38px;
  position: absolute;
  right: 15px;
  top: 50%;
  background: #fff;
  color: #111;
}
.projects .rightNav i,
.projects .leftNav i {
  opacity: 0.4;
  transition: 400ms;
}
.projects .rightNav i.active,
.projects .leftNav i.active {
  opacity: 1;
  cursor: pointer;
}
.projects .leftNav {
  left: 15px;
  right: inherit;
}
.projects .leftNav i {
  transform: rotate(180deg);
}
.projects .centerNav {
  width: 100%;
  margin: 0px 0px 40px;
  text-align: center;
}
.projects .centerNav i {
  font-size: 50px;
  margin: 0px 6px;
  transition: 300ms;
  cursor: pointer;
  color: #111;
}
.projects .centerNav i.active {
  color: #363377;
}
.projects .centerNav i.fa-stack-1x {
  font-size: 20px;
  margin-top: -2px;
  color: #fff;
  text-shadow: 1px 1px #000;
}
.projects .centerNav i.fa-stack-1x.ng-hide {
  display: block !important;
  font-size: 0px;
  transition: 300ms;
}
.aboutMe {
  background-image: url('../images/waterfall2-progressive.jpg');
  background-image: url('../images/hotairballoon.jpg');
  width: 100%;
  min-height: 600px;
  float: left;
  background-size: cover;
  color: #ddd;
  position: relative;
  transform: translateY(0);
  text-align: left;
}
.aboutMe:after {
  opacity: 0.5;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
}
.aboutMe .aboutHeader {
  font-size: 34px;
  width: calc(100% - 20px);
  color: #000;
  float: left;
  padding: 20px 0px 20px 20px;
  background: rgba(0, 0, 0, 0.7);
  background: rgba(255, 255, 255, 0.8);
  background: rgba(255, 255, 255, 0.6);
}
.aboutMe .intro {
  margin: 120px auto 35px;
  border-radius: 6px;
  overflow: hidden;
  padding: 55px;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px;
  max-width: 49%;
  text-align: center;
  line-height: 28px;
  box-shadow: 0px 0px 2px 0px #ddd;
  background: linear-gradient(rgba(255, 255, 255, 0.95), rgba(198, 226, 249, 0.95));
  background: linear-gradient(rgba(255, 255, 255, 0.85), rgba(198, 226, 249, 0.8));
  background: rgba(255, 255, 255, 0.8);
  color: #000;
  position: relative;
}
.aboutMe .intro span.red {
  color: #801515;
}
.aboutMe .intro span.yellow {
  color: #fff954;
}
.aboutMe .intro span.green {
  color: #067500;
}
.aboutMe .intro span.blue {
  color: #3178af;
  font-weight: bold;
}
.aboutMe .intro .buttons {
  width: 100%;
  float: left;
  margin: 40px 0px 0px;
  text-align: center;
}
.aboutMe .intro .contact {
  font-size: 18px;
  margin-top: 20px;
  max-height: 100px;
  transition: 500ms;
  float: left;
  width: 100%;
  line-height: 20px;
  opacity: 1;
}
.aboutMe .intro .contact span {
  color: #5a74d4;
  color: #1b415f;
  font-weight: bold;
}
.aboutMe .intro .contact.ng-hide {
  display: block !important;
  transition: 500ms;
  max-height: 0px;
  overflow: hidden;
  margin-top: 0px;
  opacity: 0;
}
.aboutMe .upNav {
  position: fixed;
  bottom: 30px;
  right: 30px;
  font-size: 26px;
  color: #fff;
  cursor: pointer;
  text-shadow: 1px 1px #000;
}
.aboutMe .upNav .fa-stack-1x {
  color: #333b79;
  font-size: 40px;
  text-shadow: 1px 1px #000;
}
@media (max-width: 560px) {
  .aboutMe .upNav {
    right: 10px;
    bottom: 40px;
    font-size: 40px;
  }
}
.footer {
  float: left;
  width: 100%;
  padding: 20px 0px;
  background: #1b415f;
  background: #313975;
  background: linear-gradient(#313975, #222751);
  font-size: 16px;
  text-align: center;
  color: #222;
  color: #aaa;
  font-family: 'Open Sans', sans-serif;
}
.footer i {
  margin: 0px 4px;
}
.footer a {
  color: #ccc;
  transition: 200ms;
  text-decoration: underline;
}
.footer a:hover {
  color: #555;
}
