@niceBlue:#2d66b0;
//@borders:1px solid lighten(@niceBlue, 20%);
@borders:1px solid #000;

@font-face {
    //font-family:raleway;
    //src:url("fonts/raleway/webfonts/raleway_thin-webfont.woff")
}

html {
    scroll-behavior:smooth;
}

@crazyBS: 0 1px 3px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
@crazyBSinput: 0 0px 2px 0 rgba(0,0,0,.2),0 1px 1px 0 rgba(0,0,0,.14),0 2px 1px -1px rgba(0,0,0,.12);
@coolBlue: darken(#5b9ed1, 35%);

body {
    font-family: 'Montserrat', sans-serif;
    color:#fff;
    margin:0;
    padding:0;
    font-size:22px;
    background:linear-gradient(#003421, darken(#003421, 8%));
    background:#222;
}

a {
    text-decoration:none;
    color:inherit;
}

button {
    outline:none;
    font-size:16px;
    background:transparent;
    color:#000;
    font-weight:bold;
    border:none;
    border-radius:4px;
    box-shadow:@crazyBSinput;
    padding:0px;
    transition:200ms;
    cursor:pointer;
    margin-right:10px;
    &:hover {
        opacity:0.4;
    }
    &.active {
        opacity:0.4;
    }
    span {
        padding:12px 12px;
        display:inline-block;
        background:#fff;
        margin-left:-5px;
        border-top-right-radius:4px;
        border-bottom-right-radius:4px;
        //text-shadow:1px 1px #333;
        //color:lighten(#5671d3, 10%);
        &.awesome {
            background:#222;
            background:#fff;
            color:@coolBlue;
            background:lighten(@coolBlue, 50%);
            border-top-left-radius:4px;
            border-bottom-left-radius:4px;
            border-top-right-radius:0px;
            border-bottom-right-radius:0px;
            text-shadow:none;
            //color:lighten(#5671d3, 10%);
            i {
                font-size:18px;
            }
        }
        &.text {
            @media(max-width:675px) { display:none; }
        }
    }
}
.content {
    z-index:0;
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    height:100%
}

.headerImg {
    //background-image:url('../images/waterfall.jpg');
    background-image:url('../images/waterfall-progressive.jpg');
    width:100%;
    min-height:55%;
    //max-height:600px;
    background-size:cover;
    position:relative;
    float:left;
    text-align:center;
    .toolBar {
        //width:100%;
        //padding:20px 0px 27px;
        //background:linear-gradient(fade(#321456, 90%), fade(#321456, 0%));
        //color:#222;
        display:inline-block;
        text-shadow:0px -1px #000;
        font-size:28px;
        background:rgba(0,0,0,0.85);
        color:#eee;
        text-shadow:1px 1px #000;
        box-shadow:0px 0px 5px -1px #000;
        border-bottom-left-radius:20px;
        border-bottom-right-radius:20px;
        padding:20px 35px 20px 35px;
        span {
            transition:200ms;
            cursor:pointer;
            &:hover {
                color:#555;
                transform:scale(1.2);
            }
        }
        i {
            margin:0px 16px;
            color:#444;
        }
    }
    .header {
       font-size:34px;
       text-shadow:1px 1px #000;
       width:calc(~"100% - 40px");
       background:rgba(0,0,0,0.5);
       position:absolute;
       bottom:0px;
       text-align:left;
       padding:20px;
    }
}
.projects {
    width:100%;
    position:relative;
    //background:url('http://static3.grsites.com/archive/textures/dgrey/dgrey047.jpg');
    float:left;
    //background:linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), url('http://static3.grsites.com/archive/textures/dblue/dblue016.jpg');
    //background:#111;
    background:#fff;
    .imgGallery {
        float:left;
        z-index:100;
        padding:30px;
        width:calc(~"100% - 60px");
        border-radius:12px;
        overflow:hidden;
        height:auto;
        max-height:1000px;
        transition:opacity 200ms;
        opacity:1;
        .alert {
            width:100%;
            float:left;
            font-size:20px;
            text-align:center;
            color:#222;
            margin-bottom:20px;
            i {
                color:#550000;
                color:#000;
                margin:0px 5px;
            }
        }
        .selectedImg {
            position:relative;
            margin:0 auto;
            img {
                display:block;
                //height:80vh;
                //width:80vw;
                max-width:90%;
                max-height:90%;
                margin:10px auto;
                border-radius:12px;
                cursor:pointer;
                border:6px solid #fff;
                box-shadow:0px 0px 5px -1px #555;
            }
        }
    }
    .imgGallery.ng-hide, .sliderView.ng-hide {
        display:block !important;
        height:0px;
        max-height:0px;
        overflow:hidden;
        padding:0px;
        margin:0px;
        opacity:0;
        transition:opacity 200ms;
    }
    .sliderView {
        width:calc(~"100% - 100px");
        overflow:hidden;
        margin:0 auto;
        opacity:1;
        transition:opacity 200ms;
        .sliderContent {
            width:300%;
            float:left;
            transition:500ms ease-in-out;
            display:flex;
            position:relative;
            .projWrap {
                margin:60px 10px 40px;
                float:left;
                padding:20px;
                flex:1;
                border-radius:12px;
                transition:800ms ease-in-out;
                overflow:hidden;
                background:rgba(27,27,27,0.8);
                background:rgba(27,27,27,0.1);
                font-family:'Open Sans', sans-serif;
                h1 {
                    font-size:26px;
                    margin:20px;
                    color:#000;
                    @media (max-width:500px) { font-size:22px }
                    .date {
                        float:right;
                        font-size:20px;
                        margin-right:20px;
                        color:lighten(#5671d3, 10%);
                        color:lighten(#5671d3, 1%);
                        @media (max-width:560px) { display:none; }
                    }
                    .clickable {
                        transition:200ms;
                        &:hover {
                            opacity:0.2;
                        }
                        i {
                            font-size:21px;
                            margin:0px 5px;
                        }
                    }
                }
                p {
                    width:90%;
                    margin:10px auto 30px;
                    font-size:20px;
                    line-height:32px;
                    //color:#ddd;
                    color:#222;
                    .purple, .blue, .white {
                        font-weight:bold;
                        font-size:22px;
                        text-decoration:underline;
                    }
                }
                .thumbWrap {
                    display:flex;
                    flex-wrap:nowrap;
                    width:95%;
                    margin:0 auto;
                    .imgWrap {
                        flex-grow:1;
                        margin:10px;
                        text-align:center;
                        img {
                            width:100%;
                            max-height:auto;
                            border-radius:6px;
                            box-shadow:1px 1px 4px 0px #555;
                            cursor:pointer;
                        }
                        button {
                            margin:20px 0px 0px;
                            display:inline-block;
                            span {
                                margin-top:-1px;
                                &.awesome {
                                    background:transparent;
                                    color:#000;
                                    padding:12px 14px 12px 16px;
                                }
                                &.text {
                                    font-size:14px;
                                }
                            }
                        }
                        .blue   { background:#7b90b5; }
                        .purple { background:darken(#cbabd7, 22%); }
                        .white  { background:#eee; }
                        /*
                        .spec1 { background-image:url('../images/spectrum1-prog.jpg'); }
                        .spec2 { background-image:url('../images/spectrum3-prog.jpg'); }
                        .spec3 { background-image:url('../images/spectrum2-prog.jpg'); }
                        .wr1   { background-image:url('../images/webroad1.png'); }
                        .wr2   { background-image:url('../images/webroad2.png'); }
                        .wr4   { background-image:url('../images/webroad4.png'); }
                        .wr3   { background-image:url('../images/webroad3.png'); }
                        .var1  { background-image:url('../images/latestSite.png'); }
                        .var2  { background-image:url('../images/oldsite.png'); }
                        .var3  { background-image:url('../images/newcover.png'); }
                        */
                    }
                }
            }
        }
    }
    .rightNav, .leftNav {
        font-size:38px;
        position:absolute;
        right:15px;
        top:50%;
        background:#fff;
        color:#111;
        i {
            opacity:0.4;
            transition:400ms;
            &.active {
                opacity:1;
                cursor:pointer;
            }
        }
    }
    .leftNav {
        left:15px;
        right:inherit;
        i {
            transform:rotate(180deg);
        }
    }
    .centerNav {
        width:100%;
        margin:0px 0px 40px;
        text-align:center;
        i {
            font-size:34px;
            margin:0px 6px;
            transition:200ms;
            cursor:pointer;
            color:#111;
            &.active {
                color:purple;
            }
        }
    }
}
.aboutMe {
    //background-image:url('../images/waterfall2.jpg');
    background-image:url('../images/waterfall2-progressive.jpg');
    //background-image:url('../images/coolpic3.jpg');
   // background-image:url('../images/coolpic1.jpg');
    width:100%;
    min-height:600px;
    float:left;
    background-size:cover;
    color:#ddd;
    position:relative;
    transform:translateY(0);
    text-align:left;
    &:after {
        opacity:0.5;
        position:absolute;
        bottom:0;
        right:0;
        left:0;
        top:0;
    }
    .aboutHeader {
       font-size:34px;
       width:calc(~"100% - 20px");
       color:#000;
       float:left;
       padding:20px 0px 20px 20px;
       background:rgba(0,0,0,0.7);
       background:rgba(255,255,255,0.8);
    }
    .intro {
        //margin:120px auto 35px;
        margin:40px;
        border-radius:6px;
        //background:rgba(17,17,17,0.9);
        overflow:hidden;
        padding:55px;
        font-family:'Open Sans', sans-serif;
        font-size:22px;
        max-width:42%;
        float:left;
        //text-shadow:1px 1px #000;
        line-height:28px;
        //box-shadow:0px 0px 4px 0px #000;
        box-shadow:0px 0px 2px 0px #aaa;
        color:#000;
        background:rgba(255,255,255,0.85);
        background:linear-gradient(rgba(255,255,255,0.95), fade(lighten(#afd7f6, 5%), 95%));
        color:lighten(@coolBlue, 20%); 
        color:#000;
        position:relative;
        span {
            &.red       { color:#801515; }
            &.yellow    { color:#fff954; }
            &.green     { color:#067500; }
            &.blue      { color:lighten(@coolBlue, 20%); font-weight:bold; }
            //&.blue      { color:black; font-weight:bold; }
        }
        .buttons {
            width:100%;
            float:left;
            margin:40px 0px 0px;
            text-align:center;
        }
        .contact {
            font-size:18px;
            margin-top:20px;
            max-height:100px;
            transition:500ms;
            float:left;
            width:100%;
            line-height:20px;
            opacity:1;
            span {
                color:lighten(#5671d3, 1%);
                color:@coolBlue;
                font-weight:bold;
            }
        }
        .contact.ng-hide {
            display:block !important;
            transition:500ms;
            max-height:0px;
            overflow:hidden;
            margin-top:0px;
            opacity:0;
        }
    }
    .upNav {
        position:fixed;
        bottom:30px;
        right:30px;
        font-size:62px;
        color:#eee;
        color:lighten(#5671d3, 15%);
        color:#000;
        cursor:pointer;
        @media (max-width:560px) { right:10px; bottom:40px; font-size:40px }
    }
}
.footer {
    float:left;
    width:100%;
    padding:20px 0px;
    background:@coolBlue;
    font-size:16px;
    text-align:center;
    color:#222;
    color:#aaa;
    font-family:'Open Sans', sans-serif;
    i {
        margin:0px 4px;
    }
    a {
        color:#ccc;
        transition:200ms;
        text-decoration:underline;
        &:hover {
            color:#555;
        }
    }
}
