body {
  background: #fdfefa;
  font-family: verdana;
}
.container {
  width: 500px;
  margin: 0 auto;
  font-size: 14px;
}
.container fieldset {
  margin: 5px;
  background: linear-gradient(#adc964, #dbf1a1);
  border-radius: 2px;
  border: 1px solid #111;
}
.container fieldset legend {
  font-weight: bold;
}
.container fieldset legend {
  font-size: 18px;
}
.container fieldset input,
.container fieldset label {
  display: inline-block;
  width: 100px;
  font-size: 14px;
  margin: 2px;
  padding: 2px;
  outline: 0;
}
.container fieldset .button {
  border-radius: 2px;
  width: auto;
  padding: 4px;
  margin: 4px;
  width: 60px;
  text-align: center;
  cursor: pointer;
  font-size: 14px;
  background: #ecf8cd;
  border: 1px solid #111;
  transition: 200ms ease;
}
.container fieldset .button:hover {
  background: #d5e3b0;
}
.container fieldset .alerts .notice {
  color: #2b3512;
  text-align: center;
  padding: 6px;
}
