<div class="angularData">
    <div class="button" ng-click="getData()">Get Data from Server Angular</div>
    <div id="serverDataAngular">{{angularData}} <br /> <br /> {{newData}}</div>
</div>
<div class="testData">
    <div>
        <label>First Name:</label>
        <input type="text" ng-model="angularData[0].first" />
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" ng-model="angularData[0].last" />
    </div>
    <div>
        <label>Sport:</label>
        <input type="text" ng-model="angularData[0].sport" />
    </div>
    <div>
        <div class="button" ng-click="deleteData(angularData[0].id)">Delete</div>
        <div class="button" ng-click="updateData(angularData[0].id, angularData[0].first, angularData[0].last, angularData[0].sport)">Save</div>
    </div>
    <div>
        <label>First Name:</label>
        <input type="text" ng-model="angularData[1].first" />
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" ng-model="angularData[1].last" />
    </div>
    <div>
        <label>Sport:</label>
        <input type="text" ng-model="angularData[1].sport" />
    </div>
    <div>
        <div class="button" ng-click="deleteData(angularData[1].id)">Delete</div>
        <!--<div class="button" ng-click="updateData(angularData[0].id)">Save</div>
        -->
    </div>
    <div>
        <label>First Name:</label>
        <input type="text" ng-model="angularData[2].first" />
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" ng-model="angularData[2].last" />
    </div>
    <div>
        <label>Sport:</label>
        <input type="text" ng-model="angularData[2].sport" />
    </div>
    <div>
        <div class="button" ng-click="deleteData(angularData[2].id)">Delete</div>
        <!--<div class="button" ng-click="updateData(angularData[0].id)">Save</div>
        -->
    </div>
</div>
<div class="testData">
    <div>
        <label>First Name:</label>
        <input type="text" ng-model="first" />
    </div>
    <div>
        <label>Last Name:</label>
        <input type="text" ng-model="last" />
    </div>
    <div>
        <label>Sport:</label>
        <input type="text" ng-model="sport" />
    </div>
    <div class="button" ng-click="insertData(first, last, sport)">Add</div>
</div>

<div class="yo">
    regular text here <span class="blueText">blue text here</span>
    more regular text here <div class="blueText">blue text here</div>
</div>
<!--Div that will hold the pie chart-->
<div id="chart_div" style="width:500; height:400"> first chart here</div>
<div id="chart_div2" style="width:500; height:400"> second chart here</div>
<div id="chart_div3" style="width:500; height:400"> third chart here</div>


