div {
  float: left;
}
.jqueryData {
  float: left;
}
.jqueryData #serverData {
  padding: 2px;
  margin: 2px;
  height: 100px;
  width: 400px;
  border: 3px solid purple;
  background: #A00;
  overflow-y: scroll;
}
.angularData {
  float: left;
}
.angularData #serverDataAngular {
  padding: 2px;
  margin: 2px;
  height: 300px;
  width: 400px;
  border: 3px solid purple;
  background: #AB4;
  overflow-y: scroll;
}
.testData {
  padding: 5px;
  margin: 2px;
  height: auto;
  width: 330px;
  border: 3px solid purple;
  background: #FB4;
  overflow-y: scroll;
  color: #444;
}
.testData label {
  width: 100px;
  float: left;
}
.testData input {
  margin: 2px;
}
body {
  font-size: 14px;
  color: white;
  font-family: lucida grande;
}
.button {
  border: 1px solid white;
  background: #333;
  font-size: 14px;
  color: white;
  padding: 4px;
  cursor: pointer;
  transition: 200ms;
}
.button:hover {
  color: #7887ab;
  border: 1px solid #7887ab;
}
button {
  border: 1px solid white;
  background: #333;
  font-size: 20px;
  color: white;
  padding: 4px;
  position: absolute;
  top: 20px;
  cursor: pointer;
  transition: 200ms;
}
button:hover {
  color: #7887ab;
  border: 1px solid #7887ab;
}
button#start {
  left: 310px;
}
button#stop {
  left: 250px;
}
.instructions {
  position: absolute;
  width: 400px;
  top: 70px;
  left: 150px;
}
