body {
	background:111;
	font-family:cursive;
}

.headercontainer {
	margin:0 auto;
	width:900px;
}

.header {
	font-size:38px;
	margin-left:50px;
}

.h1text {
	float:left
}

.h2text {
	float:left;
	font-size:18px;
	color:purple;
	padding-top:20px;
}

.menu {
	float:left;
	width:103%;
	height:50px;
	background-color:#222;
	border:2px solid #555;
	margin-left:-25px;
	margin-bottom:20px;
}

.content {
	float:left;
}

.leftbox {
	width:580px;
	float:left;
	height:auto;
	border:0px solid black;
}

.rightbox {	
	float:right;
	height:700px;;
	border:0px solid black;
	width:200px;
}

#picsize {
	height:50%;
	width:30%;
	float:right;
}

