body {
	background:#363377;
	font-family:"verdana";
}

.content {
	margin:0 auto;
	width:600px;
	height:auto;
	background:orange;
	margin-top:30px;
	border:4px solid black;
}

ul {
	list-style:none;
}

ul#header {
	background:white;
	display:inline-block;
	width:560px;
	margin:0px; 
}

ul#header li {
	display:inline-block;
	margin-right:44px;
	width:88px;
}

ul#data {
}

ul#data li {
	display:inline-block;
}
 
ul#data li#first {
	width:35px;
}

ul#data li#second {
	width:170px;
	margin-left:20px;
}

ul#data li#third {
	width:100px;
	margin-left:30px;
}

ul#data li#fourth {
	width:140px;
	margin-left:20px;
}
