
body    {
	color:white;
	background-color:555;
    font-size:14pt;
    font-family:"georgia";
	text-align:left;
}

h1 		{
	color:purple; 
	text-align:center;
	font-family:"impact";
	font-size:50pt;
	text-decoration:underline;
}

p	    {color:red; word-spacing:30px;}

span    {font-size:50pt;}

div.parent {
		border:3px solid black;
		position:relative;
		overflow:auto;
		}

div.orange {
		color:orange;
		position:relative;
		float:left;
		width:220px;
		border:3px solid green;
		font-size:2em;
		margin:5px 10px 5px 4px;
		padding:10px 5px 10px 5px;
		}

div.orange2 {
		color:orange;
		position:relative;
		float:right;
		width:460px;
		border:3px solid purple;
		font-size:24pt;
		margin:5px 10px 5px 10px;
		padding:10px 5px 10px 5px;
		}

div.orange3 {
		color:orange;
		position:relative;
		float:right;
		width:900px;
		border:3px solid red;
		font-size:24pt;
		margin:5px 10px 5px 10px;
		padding:10px 5px 10px 5px;
		}

h2		{color:#00aa44;
		font-size:50pt;
		font-family:"impact";
		text-align:center;
		text-decoration:underline;}

ul		{
		clear:left;
		} 
input	{
		border:1px solid #ddd;
		height:20px;
		width:200px;
		}

button	{
		background
		color:yellow;
		}
