<html ng-app="ap">
	<head>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<script src="../../lib/js/angular.min.js"></script> 
		<script src="js/app.js"></script>
		<script src="js/ctrl.js"></script>
		<script src="../../lib/js/jquery.js"></script>
	</head>
	<body>
		<div class="container">
			<div ng-controller='dad'>
				<smallbox>not replaced</smallbox>
				<div class="centerpane">
					<wrap></wrap>
				</div>	
				<button ng-click="switchit()">Toggle</button>
				<br />
				<br />
				<div class="divpane left" ng-show="showLeft">

					<div ng-controller="bigass" ng-class="bigassclass|divcolor" ng-show='topdiv'>
						<button ng-click='bigassclass=0'>Red</button>
						<button ng-click='bigassclass=1'>Yellow</button>
						<button ng-click='bigassclass=2'>Blue</button>
						<button ng-click='rotate()'>Rotate</button>
						<input type="text" ng-model="bigassclass" />
						<ul>
							<li ng-repeat="item in list" ng-click="myclick(item)">
							{{item.first}} 
							</li>
						</ul>
					</div>	
				</div>
				<div class="divpane right" ng-hide="showLeft">
					<div ng-controller="justass" ng-class="bigassclass"> 
						{{item.first}}, {{item.last}}, {{item.email}}
					</div>
				</div>
				<div class="newdude" ng-controller="puppyctrl">
					<ul>
						<li ng-repeat="puppy in puppies" ng-click="myclick(item)">
							{{puppy.breed}}, howcute:{{puppy.cuteness|howcute:"extraarg":puppy.breed}}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
