<html ng-app="ap">
	<head>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<script src="../../lib/js/angular.min.js"></script> 
		<script src="js/app.js"></script>
		<script src="js/ctrl.js"></script>
		<script src="../../lib/js/jquery.js"></script>
	</head>
	<body>
		<div class="container">
			<div ng-controller='dad'>
				<div class="centerpane">
				<button value='first' ng-click='changeTab(0)' >first</button>
				<button value='second' ng-click='changeTab(1)'>second</button>
				<button value='third' ng-click='changeTab(2)' >third</button>
				<br />

				<ul>
					<li ng-show="divToggle[0]">first li</li>
					<li ng-show="divToggle[1]">second li</li>
					<li ng-show="divToggle[2]">third li</li>
				</ul>
				</div>	
				<button ng-click="switchit()">Toggle</button>
				<br />
				<br />
				<div class="divpane left" ng-show="showLeft">
					<div ng-controller="bigass" ng-class="bigassclass" ng-show='topdiv'>
						<input type="text" ng-model="bigassclass" />
						<ul>
							<li ng-repeat="item in list" ng-click="myclick(item)">
							{{item.first}} 
							</li>
						</ul>
					</div>	
				</div>
				<div class="divpane right" ng-hide="showLeft">
					<div ng-controller="justass" ng-class="bigassclass"> 
						{{item.first}}, {{item.last}}, {{item.email}}
					</div>
				</div>
				<div class="newdude" ng-controller="puppyctrl">
					<ul>
						<li ng-repeat="puppy in puppies" ng-click="myclick(item)">
							{{puppy.breed}}, howcute:{{puppy.cuteness}}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</body>
</html>
