<html ng-app="ap">
	<head>
		<link href="css/style.css" rel="stylesheet" type="text/css" />
		<script src="../lib/js/angular.min.js"></script> 
		<script src="js/app.js"></script>
		<script src="js/ctrl.js"></script>
		<script src="../lib/js/jquery.js"></script>
	</head>
	<body>
		<div class="container">
			<div ng-controller='mainass'>
				main ass id : {{$id}}
				<br />
				{{parvar}}
				<br />
				<input type='button' ng-click='toggle()' value='Switch Div' />
				<div ng-controller="bigass" ng-class="bigassclass" ng-show='topdiv'>
					{{myvar}} CtrlId: {{$id}}
					<br />
					{{parvar}}
					<br />
						Parent scope is: {{$parent.$id}}
					<br />
					<input type="text" ng-model="bigassclass" />
					<br />
					<ul>
						<li ng-repeat="item in list" ng-click="myclick(item.first)">
						{{item.first}}, 
						{{item.last}} 
						</li>
					</ul>
				</div>	
				<div ng-controller="justass" ng-class="bigassclass" ng-hide='topdiv'>
					{{myvar}} CtrlId: {{$id}}
					<br />
					{{parvar}}
					<input type="text" ng-model="bigassclass" />
					<br />
					<ul>
						<li ng-repeat="item in list" ng-click="myclick(item.first)">
						{{item.first}}, 
						{{item.last}} 
						</li>
					</ul>
				</div>	
			</div>
		</div>
	</body>
</html>
