<div class="header">
    <div class="overLay"></div>
</div>
<div class="tabContainer">
    <div class="tab darkRed" ng-click="kendo=!kendo" ng-class="kendo|checkInactive">
        Kendo
    </div>
    <div class="tab red" ng-click="music=!music" ng-class="music|checkInactive">
        Music 
    </div>
    <div class="tab orange" ng-click="code=!code" ng-class="code|checkInactive">
       Code 
    </div>
    <div class="tab purple" ng-click="life=!life" ng-class="life|checkInactive">
       Life 
    </div>
</div>

<div class="post" ng-show="!life">
    <div class="title purple">
        V2 ...
        <div class="date">
            Dec 15th 2015 | Life
        </div>
        <div class="icon">
            <i class="fa fa-home"></i>
        </div>
    </div>
    <div class="content">
        Okay, let's try this again.<br><br>
        I've got a huge backlog of stuff that I want to write about, and I keep using the following pathetic excuse: 
       <br><br> 
        "oh, I don't really 
        like my current blog that much so I'll wait until I fix it up until I write." 
        <br><br>
        So there, I fixed the damn thing up. Now spill your guts, will ya? 
    </div>
</div>
<div class="post" ng-show="!code">
    <div class="title orange">
        Firefox UL bottom padding issue
        <div class="date">
            Dec 10th 2015 | Code 
        </div>
        <div class="icon">
            <i class="fa fa-code"></i>
        </div>
    </div>
    <div class="content">
        Man, cross-browser compatiblity debugging sucks. <br>
        I have an issue where my ul is ignoring the bottom padding, which is apparently caused by overflow:scroll/overflow:auto;
        <br><br>
        At least <a href="https://bugzilla.mozilla.org/show_bug.cgi?id=748518">bugzilla</a> talks about it. I'm not alone. 
    </div>
</div>
<div class="post" ng-show="!code">
    <div class="title orange">
        SQL Cheat Sheet
        <div class="date">
            Dec 3rd 2015 | Code 
        </div>
        <div class="icon">
            <i class="fa fa-code"></i>
        </div>
    </div>
    <div class="content">
        When I was picking up MySQL last year, I built myself a little cheat sheet. While there is a lot
        of online documentation for SQL, I find the bulk of it to be overly complicated. SQL syntax is super
        simple and straightforward. So here are the basics: <br><br>

        <h1>Getting Started</h1>
        show databases; <br>
        use <span class="var">[database name]</span><br>
        show tables;<br>
        select * from <span class="var">[table name]</span>;<br>

        <h1> Databases </h1>
        <span class="info">Create a new database</span>
        create database <span class="var">[new database name]</span>;<br>
        <span class="info">Delete database</span>
        drop database <span class="var">[database name]</span>;

        <h1> Tables</h1>
        <span class="info">Create new table</span>
        create table <span class="var"> [table name] (column1 datatype, column2 datatype)</span>;<br>
        ex: create table users (id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, username VARCHAR(25), password VARCHAR(20));<br>
        
        <span class="info">Replace column name </span>
        alter table <span class="var">[table name]</span> change <span class="var">[old column name] [new column name] [data type] </span>;<br>
        
        <span class="info">Modify data type</span>
        alter table <span class="var">[table name]</span> modify <span class="var">[column, datatype]</span>;<br>

        <span class="info">View columns and their info (datatype, etc)</span>
        show columns from <span class="var">tablename</span>;

        <h1>Insert/Delete/Update</h1>
        <span class="info">Insert</span>
        insert into <span class="var">[table name] (col1, col2) </span> values <span class="var">('value for col1', 'value for col2')</span>;<br>

        <span class="info">Update</span>
        update <span class="var">[table name]</span> set <span class="var">[column name]</span> 
        = <span class="var">'[new data]' </span> where id=<span class="var">[id]</span>;
        <span class="info">Delete</span>
        delete from <span class="var">[table name]</span> where id=<span class="var">[id]</span>;

    </div>
</div>
<div class="post" ng-show="!kendo">
    <div class="title darkRed">
        The 10 Virtues of Kendo by Sasaburo Takano Sensei
        <div class="date">
            Nov 24th 2015 | Kendo 
        </div>
    </div>
    <div class="content">
        <b>1)</b> A healthy body is a must. You must maintain good health and vitality in every part of your body.<br><br>
        <b>2)</b> Develop a strong spirit. Your skill and spirit must be in perfect harmony. This will enable you to adapt and to cope
        with even the harshest of environments.<br><br>
        <b>3)</b> Training is critical. Your mind, spirit, hands and feet are to combine to work as one. Practice diligently to attain this.<br><br>
        <b>4)</b> Experiment and use your mind. Doing this will bring you closer to enlightenment as well as improve your skill and
        techniques.</br><br>
        <b>5)</b> Fundamental Training. Practicing basic techniques must be done properly. Posture, stance, grip, line of sight, footwork,
        attacking are critical. If you do not take these seriously, your skills will not evolve.<br><br>
        <b>6)</b> Always train with a focused spirit. Your spirit controls your body. Whether it is during practice or tournaments, always
        maintain a focused spirit and put forth your best effort.<br><br>
        <b>7)</b> Train with passion from beginning to end. You will encounter many hardships and suffering.<br><br>
        <b>8)</b> Do not become conceited or overconfident. Whether it is in your Kendo, your education, or even in your career,
        arrogance is the root of all failure. This kind of attitude is the greatest detriment to your training.<br><br>
        <b>9)</b> Maintain purity in your soul. Anger, deception, selfishness are enemies to your training. The path of Kendo is to train
        seriously in order to build character.<br><br>
        <b>10)</b> Live the way you train. Do not separate what you learned in Kendo from your everyday life. It is unfortunate if this
        happens. By keeping the path of Kendo and the path of life as one, you will benefit greatly.<br><br>

    </div>
</div>

<div class="post" ng-show="!kendo">
    <div class="title darkRed">
        Beginners - By Kim Taylor
        <div class="date"> Nov 24th 2015 | Kendo </div>
    </div>
    <div class="content">
        It has always bothered me how often I see kendo beginners being mistreated or disrespected.
        Senior students are often too impatient, or unnecessarily harsh. I've always felt as though the 
        attitude that beginners are a waste of time is a burden on one's kendo development. It demonstrates
        a lack of patience and a lack of compassion, and is often accompanied by a lack of adequate respect 
        for Kendo basics. <br>
        A few months back I happened upon a little article on the subject written by Kim Taylor Sensei. Though
        I believe this is originally written about Iaido, it all holds true for Kendo as well. <br><br>

        "While beginners may seem a pain in the touchus, slowing down the class and making you repeat the same
        old thing, they really are quite useful. For one thing having a beginner in class lets the previous
        group of beginners know just how much they know. It's amazing how fast the previous beginners let go of
        their worries that they aren't learning anything when they realize just how much they understand in 
        comparison to the new guy.<br>
        Beginners slow the class down, that's true, but this isn't a bad thing. Going fast during class can 
        often mean going into automatic pilot, just repeating the kata without thinking about what you're doing
        with them. You're supposed to break this stuff down and try to understand the lessons behind and beneath 
        the kata but you can't really do that if you simply repeat them endlessly at speed. Beginners ask
        questions, they trigger thoughts of why this movement instead of that one. <br>
        As for repeating the same old thing, what makes us think we've repeated whatever we need to repeat to
        the last bunch of beginners? I realized a few weeks ago that I hadn't told any of my students a quite
        fundamental thing in several years. This happened when a beginner asked a question and I answered 
        causing the rest of the class to give me the aha look. That's when I realized I had forgotten something
        yet again.<br>
        So celebrate the beginners, those few brave souls who wander into a class full of flying lumber and
        put their faith into the kindness of the group. They in turn will be welcoming beginners in the way 
        they were welcomed in years to come. <br><br>
        Treat them well, you need them.<br><br>
        Kim Taylor <br><br>
        Sept 21, 2015"
    </div>
</div>
<div class="post" ng-show="!code">
    <div class="title orange">
        Web Fonts
        <div class="date">
            Nov 24th 2015 | Code 
        </div>
        <div class="icon">
            <i class="fa fa-code"></i>
        </div>
    </div>
    <div class="content">
       Looking around for a nice font for this site, and I stumbled across this helpful article: </br><br>
       <a href="http://www.creativebloq.com/typography/free-web-fonts-1131610?page=1">The 35 Greatest Free Web Fonts</a>
    </div>
</div>
<div class="post" ng-show="!music">
    <div class="title red">
        Hooked on the electric guitar
        <div class="date">
            Nov 23rd 2015 | Music
        </div>
        <div class="icon">
            <i class="fa fa-music"></i>
        </div>
    </div>
    <div class="content">
        My brother went to Poland last weekend and left me one of his guitar amps. <br>
        I plugged in the electric guitar I had kicking around (AKA "the fury"), and I can't stop, I'm totally hooked.<br>
        I'm having the most fun playing music I have had in years.<br><br>
        I think my poor piano is getting jealous though.<br>
    </div>
</div>
<div class="post" ng-show="!life">
    <div class="title purple">
        I finally did it! 
        <div class="date">
            Nov 23rd 2015 | Life
        </div>
        <div class="icon">
            <i class="fa fa-home"></i>
        </div>
    </div>
    <div class="content">
        I finally built that blog I've been talking about forever. Here we go!
    </div>
</div>
<div class="footerContainerDepr"></div>
