<div class="tabContainer">
    <div class="tab darkRed" ng-click="kendo=!kendo" ng-class="kendo|checkInactive">
        Kendo
    </div>
    <div class="tab red" ng-click="music=!music" ng-class="music|checkInactive">
        Music 
    </div>
    <div class="tab orange" ng-click="code=!code" ng-class="code|checkInactive">
       Code 
    </div>
    <div class="tab purple" ng-click="life=!life" ng-class="life|checkInactive">
       Life 
    </div>
</div>

<div class="post" ng-show="!code">
    <div class="title orange">
        Web Fonts
        <div class="date">
            November 24th 2015 | Code 
        </div>
        <div class="icon">
            <i class="fa fa-code"></i>
        </div>
    </div>
    <div class="content">
       Looking around for a nice font for this site, and I stumbled across this helpful article: </br><br>
       <a href="http://www.creativebloq.com/typography/free-web-fonts-1131610?page=1">The 35 Greatest Free Web Fonts</a>
    </div>
</div>
<div class="post" ng-show="!music">
    <div class="title red">
        Hooked on the electric guitar
        <div class="date">
            November 23rd 2015 | Music
        </div>
        <div class="icon">
            <i class="fa fa-music"></i>
        </div>
    </div>
    <div class="content">
        My brother went to Poland last weekend and left me one of his guitar amps. <br>
        I plugged in the electric guitar I had kicking around (AKA "the fury"), and I can't stop, I'm totally hooked.<br>
        I'm having the most fun playing music I have had in years.<br><br>
        I think my poor piano is getting jealous though.<br>
    </div>
</div>
<div class="post" ng-show="!life">
    <div class="title purple">
        I finally did it! 
        <div class="date">
            November 23rd 2015 | Life
        </div>
    </div>
    <div class="content">
        I finally built that blog I've been talking about forever. Here we go!
    </div>
</div>
<div class="footerContainer"></div>
