<div id="left">
    <div ng-show="channels">
        <div class='buttonWrap'>
            <div>Channels:</div>
            <button ng-repeat="channel in channels" ng-click="chanSel(channel[0])"
                ng-class="vis[channel[0]]|threeWay"
            >{{channel[0]}}</button>
        </div>
        <div class="buttonWrap wide">
            <button ng-click="show(true)">Show All</button>
            <button ng-click="show(false)">Hide All</button>
            <button ng-click="reverse()">Reverse</button>
            <button ng-click="toFront()" ng-class="inFront|checkActive">To Front</button>
        </div>
        <div class="buttonWrap">
            <button ng-click="rng[0]=!rng[0]; range(0)" class="long" ng-class="rng[0]|checkActive">Long</button>
            <button ng-click="rng[1]=!rng[1]; range(1)" class="med" ng-class="rng[1]|checkActive">Med</button>
            <button ng-click="rng[2]=!rng[2]; range(2)" class="short" ng-class="rng[2]|checkActive">Short</button>
        </div>
        <div class='buttonWrap' ng-show="selChan">
            <ul>
                <li>Chan: {{selChan.Channel}}</li>
                <li>BWkHz: {{selChan.BWkHz}}</li>
                <li>Band: {{selChan.Band}}</li>
                <li>Freq: {{selChan.FreqMHz}}</li>
            </ul>
            <button ng-click="toDev(dev.loc[2])" ng-repeat="dev in chanDevs">{{dev.loc[2]}}</button>
        </div>
    </div>
</div>
