@font-face {
  font-family: OstrichFont;
  src: url("fonts/raleway/webfonts/raleway_thin-webfont.woff");
}
body {
  font-family: OstrichFont;
  color: #fff;
  margin: 0;
  padding: 0;
  background: #222;
  font-size: 22px;
  font-weight: bold;
}
.container .imageContainer {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  height: 33%;
  border-bottom: 1px solid #000000;
}
.container .imageContainer .title {
  text-align: center;
  font-size: 4.3vw;
  padding: 20px 10px;
  color: black;
}
.container .middleGround {
  height: 33%;
  border-bottom: 1px solid #000000;
  background: linear-gradient(#2d66b0, #6a9ad9, #2d66b0);
}
.container .middleGround .left {
  float: left;
  padding: 20px;
  margin: 0;
  width: 14%;
}
.container .middleGround .left .aLittleBit {
  font-size: 14px;
  padding: 5px;
}
.container .middleGround .left .smaller {
  font-size: 18px;
}
.container .middleGround .centerPiece {
  padding: 20px;
  text-align: center;
}
.container .middleGround .centerPiece .less {
  color: #aaa;
}
.container .project {
  height: 33%;
  color: #2d66b0;
}
.container .project .header {
  text-align: center;
  font-size: 36px;
  padding: 20px;
}
