@niceBlue:#2d66b0;
//@borders:1px solid lighten(@niceBlue, 20%);
@borders:1px solid #000;
@font-face {
    font-family:OstrichFont;
    //src:url("fonts/ostrich-sans-master/webfonts/ostrich-sans-bold.woff")
    src:url("fonts/raleway/webfonts/raleway_thin-webfont.woff")
}

@font-face {
    font-family:what;
    src:url("fonts/ostrich-sans-master/webfonts/ostrich-sans-dashed.woff")
}

body {
    font-family:OstrichFont;
    color:#fff;
    margin:0;
    padding:0;
    background:#222;
    font-size:22px;
    font-weight:bold;
}

a { 
    color:@niceBlue;
    text-decoration:none;
    transition:100ms;
    &:hover { 
        color:lighten(@niceBlue, 30%);
    }
}


@lightBlue:#86a9d3;

.container {
    .imageContainer, .shrunkImageContainer {
        background-image:url('../images/bg.jpg');
        background-size:cover;
        height:25%;
        min-height:150px;
        border-bottom:@borders;
        transition:1s;
        .textContainer {
            background:-webkit-linear-gradient(bottom, rgba(0,0,0,0), rgba(45,102,167,0.5));
            color:#000;
            .title {
                //font-family:what;
                text-align:center;
                font-size:48px;
                text-shadow:1px 0px #444;
                padding:20px 10px 5px;
                font-weight:bold;
            }
            .subTitle {
                font-size:24px;
                display:none;
                text-align:center;
            }
            .mailMe {
                margin:0px 0px 5px 0px;
                font-size:32px;
                color:black;
                transition:200ms;
                &:hover {
                    color:#fff;
                }
            }
        }
    }
    .shrunkImageContainer {
        height:10%;
        min-height:100px;
    }

    .middleGround, .shrunkMiddle {
        //height:33%;
        height:auto;
        padding:20px;
        //min-height:140px;
        overflow:hidden;
        border-bottom:@borders;
        background:linear-gradient(@niceBlue, lighten(@niceBlue, 20%), @niceBlue);
        transition:1s ease;
        transition:font-size 0s;
        @media (max-width:795px) { padding:0; }
        @media (max-height:600px) { padding:0; }
        .centerPiece {
            position:relative;
            max-width:930px;
            margin:auto;
            //top:50%;
            //transform:translateY(-50%);
            text-align:center;
            .smaller {  }
            .less { color:#aaa; }
            ul {
                display:inline-block;
                padding:0;
                font-size:24px;
                .hidden { opacity:0; }
                @media (max-width:755px) { font-size:16px; }
                &.smaller { 
                    font-size:18px; 
                    @media (max-width:755px) { font-size:14px; }
                    @media (max-width:340px) { display:none; }
                }
                &.smallest {
                    font-size:15px; 
                    @media (max-width:755px) { font-size:13px; }
                    @media (max-width:628px) { display:none; }
                }
                &.shrunkUl { font-size:16px; }
                &.evenSmaller { 
                    font-size:14px;
                    @media (max-width:340px) { display:none; }
                }
                &.evenSmallest { 
                    font-size:13px;
                    @media (max-width:630px) { display:none; }
                }
                i { display:none; font-size:26px; color:#222; }
                li {
                    display:inline-block;
                    text-decoration:none;
                    padding:8px 12px;
                    margin:4px;
                    border:1px solid #aaa;
                    box-shadow:1px 1px 4px 2px #222;
                    background:darken(#363377, 15%);
                    opacity:0.8;
                    transition:200ms;
                    @media (max-height:200px) { font-size: 14px; }
                    &:hover {
                        color:#222;
                        border:1px solid #222;
                        background:lighten(#363377, 15%);
                        //opacity:1;
                    }
                }
            }
        } 
    }
    .shrunkMiddle { padding:0; }
    .project {
        color:@niceBlue;
        .header {
            text-align:center;
            font-size:44px;
            padding:30px;
        }
        .up {
            float:right;
            font-size:44px;
            margin:14px;
            margin-top:-74px;
            i {
                transition:200ms;
                cursor:pointer;
                &:hover { color:darken(#363377, 1%); }
            }
        }
        @singlePane:860px;
        .piece {
            font-size:19px;
            width:29%;
            color:#fff;
            min-height:360px;
           //background:#111;
           // box-shadow:0px 0px 4px 1px @niceBlue;
            margin:0 10px 15px 10px;
            text-align:center;
            padding:0 10px 10px 10px;
            float:left;
            line-height:136%;
            @media (max-width:990px) { width:45%; min-height:319px;}
            @media (max-width:@singlePane) { width:94.5%; min-height:0px; }
            @media (max-width:660px) { width:91%;; }
            .text {
                display:none;
                @media (max-width:@singlePane) { float:right; width:55%; margin:20px 10px 0 5px; }
                @media (max-width:730px) { width:50%; }
                @media (max-width:660px) { float:none; width:auto; margin:0; }
                .title { color:@niceBlue; }
            }
            .portalThumb {
                height:200px;
                width:267px;
                background-image:url('../images/portal.png');
                background-size:100%;
                border:1px solid black;
                margin:8px auto 4px;
                @media (max-width:@singlePane) { float:left; }
                @media (max-width:660px) { float:none; }
            }
            .whitespaceThumb {
                .portalThumb;
                background-image:url('../images/whitespace.png');
                height:217px;
            }
            .koyokaiThumb{
                .portalThumb;
                background-image:url('../images/koyo.png');
                height:191px;
                width:287px;
            }
            .cubeThumb {
                .portalThumb;
                background-image:url('../images/cube.png');
                height:240px;
                width:275px;
            }
            .oldThumb {
                .portalThumb;
                background-image:url('../images/oldsite.png');
                height:240px;
                width:275px;
            }
        }
    }
    .expandProject { height:53%; }
}
.footer, .shrunkFooter {
    width:100%;
    height:40px;
   // background:-webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,0.7));
    background:#111;
    border-top:1px solid #011;
    position:fixed;
    float:right;
    bottom:0;
    color:#aaa;
    transition:1000ms;
    //box-shadow:0 0 2px 10px #222;
    overflow:hidden;
    .text {
        text-align:center;
        font-size:16px;
        position:relative;
        top:50%;
        transform:translateY(-50%);
        i { 
            color:@niceBlue;
            padding:0 4px;
        } 
    }
    .shrinkExpand {
        float:right;
        padding:0px 10px;
        margin-top:-8px;
        position:relative;
        cursor:pointer;
        transition:200ms;
        color:@niceBlue;
        &:hover { color:darken(#363377, 1%); }
    }
}
.shrunkFooter {
    width:40px;
    right:0;
    box-shadow:none;
    border-left:1px solid #111;
    i { margin:18px 4px; } 
}
