@font-face {
  font-family: OstrichFont;
  src: url("fonts/raleway/webfonts/raleway_thin-webfont.woff");
}
@font-face {
  font-family: what;
  src: url("fonts/ostrich-sans-master/webfonts/ostrich-sans-dashed.woff");
}
body {
  font-family: OstrichFont;
  color: #fff;
  margin: 0;
  padding: 0;
  background: #222;
  font-size: 22px;
  font-weight: bold;
}
.container .imageContainer,
.container .shrunkImageContainer {
  background-image: url('../images/bg.jpg');
  background-size: cover;
  height: 33%;
  border-bottom: 1px solid #000000;
  transition: 1s;
}
.container .imageContainer .title,
.container .shrunkImageContainer .title {
  text-align: center;
  font-size: 48px;
  padding: 20px 10px;
  color: black;
  font-weight: bold;
}
.container .imageContainer .mailMe,
.container .shrunkImageContainer .mailMe {
  margin: 0px 0px 5px 0px;
  font-size: 32px;
  color: black;
}
.container .shrunkImageContainer {
  height: 20%;
}
.container .middleGround,
.container .shrunkMiddle {
  height: auto;
  padding: 20px;
  overflow: hidden;
  border-bottom: 1px solid #000000;
  background: linear-gradient(#2d66b0, #6a9ad9, #2d66b0);
  transition: 1s ease;
  transition: font-size 0s;
}
@media (max-width: 795px) {
  .container .middleGround,
  .container .shrunkMiddle {
    padding: 0;
  }
}
.container .middleGround .centerPiece,
.container .shrunkMiddle .centerPiece {
  position: relative;
  text-align: center;
}
.container .middleGround .centerPiece .less,
.container .shrunkMiddle .centerPiece .less {
  color: #aaa;
}
.container .middleGround .centerPiece ul,
.container .shrunkMiddle .centerPiece ul {
  display: inline-block;
  padding: 0;
  font-size: 24px;
}
.container .middleGround .centerPiece ul .hidden,
.container .shrunkMiddle .centerPiece ul .hidden {
  opacity: 0;
}
@media (max-width: 755px) {
  .container .middleGround .centerPiece ul,
  .container .shrunkMiddle .centerPiece ul {
    font-size: 16px;
  }
}
.container .middleGround .centerPiece ul.smaller,
.container .shrunkMiddle .centerPiece ul.smaller {
  font-size: 18px;
}
@media (max-width: 755px) {
  .container .middleGround .centerPiece ul.smaller,
  .container .shrunkMiddle .centerPiece ul.smaller {
    font-size: 14px;
  }
}
@media (max-width: 340px) {
  .container .middleGround .centerPiece ul.smaller,
  .container .shrunkMiddle .centerPiece ul.smaller {
    display: none;
  }
}
.container .middleGround .centerPiece ul.smallest,
.container .shrunkMiddle .centerPiece ul.smallest {
  font-size: 15px;
}
@media (max-width: 755px) {
  .container .middleGround .centerPiece ul.smallest,
  .container .shrunkMiddle .centerPiece ul.smallest {
    font-size: 13px;
  }
}
@media (max-width: 628px) {
  .container .middleGround .centerPiece ul.smallest,
  .container .shrunkMiddle .centerPiece ul.smallest {
    display: none;
  }
}
.container .middleGround .centerPiece ul.shrunkUl,
.container .shrunkMiddle .centerPiece ul.shrunkUl {
  font-size: 16px;
}
.container .middleGround .centerPiece ul.evenSmaller,
.container .shrunkMiddle .centerPiece ul.evenSmaller {
  font-size: 14px;
}
@media (max-width: 340px) {
  .container .middleGround .centerPiece ul.evenSmaller,
  .container .shrunkMiddle .centerPiece ul.evenSmaller {
    display: none;
  }
}
.container .middleGround .centerPiece ul.evenSmallest,
.container .shrunkMiddle .centerPiece ul.evenSmallest {
  font-size: 13px;
}
@media (max-width: 630px) {
  .container .middleGround .centerPiece ul.evenSmallest,
  .container .shrunkMiddle .centerPiece ul.evenSmallest {
    display: none;
  }
}
.container .middleGround .centerPiece ul i,
.container .shrunkMiddle .centerPiece ul i {
  display: none;
  font-size: 26px;
  color: #222;
}
.container .middleGround .centerPiece ul li,
.container .shrunkMiddle .centerPiece ul li {
  display: inline-block;
  text-decoration: none;
  padding: 8px 12px;
  margin: 4px;
  border: 1px solid #aaa;
  box-shadow: 1px 1px 4px 2px #222;
  background: #1e1c41;
  opacity: 0.8;
  transition: 200ms;
  cursor: pointer;
}
@media (max-height: 200px) {
  .container .middleGround .centerPiece ul li,
  .container .shrunkMiddle .centerPiece ul li {
    font-size: 14px;
  }
}
.container .middleGround .centerPiece ul li:hover,
.container .shrunkMiddle .centerPiece ul li:hover {
  color: #222;
  border: 1px solid #222;
  background: #4e4aad;
}
.container .shrunkMiddle {
  padding: 0;
}
.container .project {
  color: #2d66b0;
}
.container .project .header {
  text-align: center;
  font-size: 36px;
  padding: 20px;
}
.container .project .up {
  float: right;
  font-size: 44px;
  margin: 14px;
  margin-top: -64px;
  cursor: pointer;
  transition: 200ms;
}
.container .project .up:hover {
  color: #343173;
}
.container .project .portContent {
  height: 600px;
}
.container .expandProject {
  height: 53%;
}
