body {
    font-family:FuturaBT-Book;
    margin:0;
    padding:0;
}

@lightBlue:#86a9d3;

.container {
    background-image:url('../images/landscape.jpg');
    background-repeat:no-repeat;
    background-size:100%;
    min-height:500px;
    min-width:800px;
    height:100%;
    width:100%;
    opacity:0.8;
    margin:auto;
    
    .imageContainer {
        width:350px;
        height:350px;
        margin:auto;
    }
    .divide {
        width:60%;
        height:2px;
        background:linear-gradient(to right, #fff, red, #fff);
        margin:auto;
        margin-top:-20px;
    }

    .media {
        font-size:5vw;
        width:18%;
        margin:35px auto 20px;
        i {
            transition:color 200ms;
            cursor:pointer;
            &:hover {
                color:red;
            }
        }
        
    }
    .blurb {
        width:80%;
        margin:auto;
        font-style:italic;
        text-align:center;
        font-size:3vw;
    }
    .infoWrap {
        margin:10px auto;
        width:85%;
        .hours, .location {
            width:49%;
            margin:auto;
            float:left;
            //border:1px solid gray;
            .header {
                display:none;
                font-size:3vw;
                text-align:center;
            }
        }
    }
}
