<div class="leftNav" ng-show="!gallery">
    <i class="fa fa-play" ng-click="toggleLeft()" ng-class="tabId<0|checkActive"></i>
</div>
<div class="imgGallery" ng-show="gallery" ng-click="gallery=false" id="gallery">
    <div class="alert">
        <i class="fa fa-exclamation-triangle"></i>
        Click the image anywhere to close.
    </div>
   <div class="selectedImg">
        <img src="{{selImg}}"></img>
   </div>
</div>
<div class="sliderView" ng-show="!gallery">
    <div class="sliderContent" style="margin-left:{{tabId}}%">
        <div class="projWrap">
            <h1>
                HTZ Spectrum 
                <span class="date">2014 - 2015</span>
            </h1>
            <p>
                I joined in on the Spectrum project fairly early in its inception and took over a good portion of the front-end design. 
                Built in AngularJs and using OpenLayers, I had a field day designing UX/UI components, 
                implementing a variety of tools and features, and generally nurturing the entire front-end structure of this app.
                Faced with a blank canvas in many situations, I had the opportunity to dig deep creatively, in terms of both UI and code design.
                <br><br>
                I can safely say I had a blast working on this project.
            </p>
            <div class="thumbWrap">
                <div class="imgWrap" ng-click="selectImg('spectrum1-prog.jpg')" href="#gallery" du-smooth-scroll duration="500">
                    <img src="../images/spectrum1-prog.jpg" />
                </div>
                <div class="imgWrap" ng-click="selectImg('spectrum3-prog.jpg')" href="#gallery" du-smooth-scroll duration="500">
                    <img src="../images/spectrum3-prog.jpg" />
                </div>
                <div class="imgWrap" ng-click="selectImg('spectrum2-prog.jpg')" href="#gallery" du-smooth-scroll duration="500">
                    <img src="../images/spectrum2-prog.jpg"> 
                </div>
            </div>
        </div>
        <div class="projWrap">
            <h1>
                WebRoad66
                <span class="date">2016</span>
            </h1>
            <p>
            WebRoad66 is a beacon solutions project for which I have the priveledge of building all sorts of fun tools. From infrastructure 
            management tools, to statistics graphing, to file management, to data ingestion tools. Working again primarily with AngularJs, 
            but this time I've also had the opportunity to do some work on the API, and wracked up a tiny bit of experience with Node.js and PostgreSQL. 
            <br><br>
            Due to confidentiality, I can't demo any products. However, code samples are available on request!
            </p>
            <div class="thumbWrap">
                <div class="imgWrap" ng-click="selectImg('webroad1.png')" href="#gallery" du-smooth-scroll duration="500">
                    <img src="../images/webroad1.png" />
                </div>
                <div class="imgWrap" ng-click="selectImg('webroad3.png')" href="#gallery" du-smooth-scroll duration="500">
                    <img src="../images/webroad3.png" />
                </div>
                <!--
                <div class="imgWrap" ng-click="selectImg('webroad4.png')" href="#gallery" du-smooth-scroll duration="500">
                    <img src="../images/webroad4.png" />
                </div>
                !-->
                <div class="imgWrap" ng-click="selectImg('webroad7.png')" href="#gallery" du-smooth-scroll duration="500">
                    <img src="../images/webroad7.png" />
                </div>
            </div>
        </div>
        <div class="projWrap">
            <h1>
               Various 
                <span class="date">2013 - 2015</span>
            </h1>
            <p> 
                <br>
                Just for kicks, here are a few samples of my old websites. <br><br>
                Neat to see how things have evolved over time.  <br><br>
                <!--
                Check out the <span class="blue">blue</a></span> one, the
                              <span class="purple">purple</a></span> one, and the
                              <span class="white">white</a></span> one.
              --!>
              Note: only the blue one is responsive/mobile friendly.
            </p>
            <div class="thumbWrap">
                <div class="imgWrap">
                    <img src="../images/latestSite.png" ng-click="selectImg('latestSite.png')" href="#gallery" du-smooth-scroll duration="500" />
                    <a href="http://www.rubykulikowska.com/firstresp/" target="_blank">
                        <button class="blue">
                            <span class="awesome"><i class="fa fa-link"></i></span>
                            <span class="text">Go to Site!</span>
                        </button>
                    </a>
                </div>
                <div class="imgWrap">
                    <img src="../images/oldsite.png" ng-click="selectImg('oldsite.png')" href="#gallery" du-smooth-scroll duration="500" />
                    <a href="http://www.rubykulikowska.com/port/old/" target="_blank">
                        <button class="purple">
                            <span class="awesome"><i class="fa fa-link"></i></span>
                            <span class="text">Go to Site!</span>
                        </button>
                    </a>
                </div>
                <div class="imgWrap">
                    <img src="../images/newcover.png" ng-click="selectImg('newcover.png')" href="#gallery" du-smooth-scroll duration="500" />
                    <a href="http://www.rubykulikowska.com/port/old2" target="_blank">
                        <button class="white">
                            <span class="awesome"><i class="fa fa-link"></i></span>
                            <span class="text">Go to Site!</span>
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="rightNav" ng-show="!gallery">
    <i class="fa fa-play" ng-click="toggleRight()" ng-class="tabId>-200|checkActive"></i>
</div>
<div class="centerNav" ng-show="!gallery">
    <i class="fa fa-circle" ng-class="tabId==0|checkActive" ng-click="tabId=0"></i>
    <i class="fa fa-circle" ng-class="tabId==-100|checkActive" ng-click="tabId=-100"></i>
    <i class="fa fa-circle" ng-class="tabId==-200|checkActive" ng-click="tabId=-200"></i>
</div>
