<div class="container">
    <div class={{imageContainer}}>
        <div class="textContainer">
            <div class="title">Ruby Kulikowska
                <a href="mailto:rubykulikowska@gmail.com"><span class="mailMe"><i class="fa fa-envelope"></i></span></a>
            </div>
            <div class="subTitle">Front-End Web Developer</div>
        </div>
    </div>
    
    <div class={{middleDiv}}> 
        <div class="centerPiece">
            <ul class={{mainUl}}>
                <i class="fa fa-arrow-right"></i>
                <li>HTML5</li>
                <li>CSS3 {LESS}</li>
                <li>AngularJs</li>
                <i class="fa fa-arrow-left"></i> 
                <span class={{hideEm}}>
                <ul class={{smaller}}>
                    <li> Dynamic HTML</li>
                    <li>Responsive Design</li>
                    <li>CSS Animations</li>
                    <li>JavaScript</li>
                    <li>JQuery</li>
                </ul>
                <ul class={{smallest}}>
                    <li>PHP</li>
                    <li>MySQL</li>
                    <li>Three.js</li>
                    <li>Canvas</li>
                    <li>SVG</li>
                </ul>
                </span>
            </ul>
        </div>
    </div>

    <div class="project">
        <div class="header"> Portfolio </div>
        <div class="up" ng-click="showPort()">
            <i class="fa fa-arrow-circle-up" ng-hide="portfolio"></i>
            <i class="fa fa-arrow-circle-down" ng-show="portfolio"></i>
        </div>
        <div class="piece">
            <div class="text">
                <a href="http://188.165.228.47/mvportal/">MvPortal</a> is a data application built in AngularJs, using CSS3 with a LESS preprocessor. 
            </div>
            <div class="portalThumb"></div>
        </div>
        <div class="piece">
            <div class="text">
                <a href="http://188.165.228.47/tvws/">Whitespace</a> is an application I contribute to, mostly CSS/HTML design, including adaptive CSS. 
                                                      I also helped out on some of the Angular tasks.
            </div>
            <div class="whitespaceThumb"></div>
        </div>
        <div class="piece">
            <div class="text">
                <a href='http://www.rubykulikowska.com/port/koyokai/koyokai'>Koyokai</a> is a work in progress for a kendo club in Michigan. Check back soon for a brand new layout!  
            </div>
            <div class="koyokaiThumb"></div>
        </div>
        <div class="piece">
            <div class="text">
                I was playing around with Three.js and built this little <a href="http://www.rubykulikowska.com/port/threejs/testThree.html">cube</a>.   
            </div>
            <div class="cubeThumb"></div>
        </div>
        <div class="piece">
            <div class="text">
                Check out the <a href='http://www.rubykulikowska.com/port/old'>old home page</a> of rubykulikowska.com. Lightweight, colourful, if not a little goofy.    
            </div>
            <div class="oldThumb"></div>
        </div>
        </div>
    </div>
</div>
<div class={{footerClass}}>
    <div class="text">
        Front-End Web Developer
        <i class="fa fa-map-marker"></i>
        Montreal, QC
        <i class="fa fa-send"></i>
        rubykulikowska@gmail.com
    </div>
    <div class="shrinkExpand" ng-click="showHideFooter()">
        <i class="fa fa-chevron-right"></i>
    </div>
</div>
