<div class={{middleDiv}}>
    <div class="buttonContainer">
        <ul class={{mainUl}}>
            <li ng-repeat="i in ['HTML5', 'CSS3 [LESS]', 'AngularJs']">{{i}}</li>
            <ul class={{smaller}}>
                <li ng-repeat="i in ['Dynamic HTML', 'Responsive Design', 'CSS Animations', 'JavaScript', 'JQuery']">{{i}}</li>
            </ul>
            <ul class={{smallest}}>
                <li ng-repeat="i in ['PHP', 'MySQL', 'Three.js', 'Canvas', 'SVG']">{{i}}</li>
            </ul>
        </ul>
    </div>
</div>
