<div class="buttonWrapper">
    <div class="rideOffers" ng-click="tabIdx=1" ng-class="tabIdx==1|checkActive">Offered Rides</div>
    <div class="rideSearchers" ng-click="tabIdx=2" ng-class="tabIdx==2|checkActive">Wanted Rides</div>
    <div class="postRide" ng-click="tabIdx=3" ng-class="tabIdx==3|checkActive">Post!</div>
</div>

<div class="contentWrap">
    <div class="controls">
        <div ng-show="tabIdx==1" class="title">Offered Rides</div>
    </div>
    <div class="dataWrap">
    </div>
</div>
