<div class="buttonWrapper">
    <div class="rideOffers" ng-click="tabIdx=1" ng-class="tabIdx==1|checkActive">Offered Rides</div>
    <div class="rideSearchers" ng-click="tabIdx=2" ng-class="tabIdx==2|checkActive">Wanted Rides</div>
    <div class="postRide" ng-click="tabIdx=3" ng-class="tabIdx==3|checkActive">Post!</div>
</div>

<div class="contentWrap">
    <div class="offerData" ng-show="tabIdx==1">
        <div class="controls">
            <div class="location">
                <div>Where:</div>
                <select>
                    <option value="Montreal - Toronto">Montreal - Toronto</option>
                    <option value="Ott-To">Ottawa - Toronto</option>
                    <option value="Toronto - Montreal">Toronto - Montreal</option>
                    <option value="To-Ott">Toronto - Ottawa</option>
                </select>
                <div>When:</div>
            </div>
        </div>
        <div class="dataWrap">
        </div>
    </div>
</div>
