body { 
    background:linear-gradient(#450000, #D4A36A);
    background:-webkit-linear-gradient(#450000, #dfa36a);
    font-family:verdana,arial,sans-serif;
    color:white;
 }

.contentWrap {
    margin:0 auto;
    border:3px solid black;
    width:874px;
    .headerimg {
        height:250px;
        width:920px;
        overflow:hidden;
        background-image:url('../images/header.jpg');
        background-size:95%;
        background-position: 0 -125px;
        background-repeat:no-repeat;
    }
    .dropdown {
            background:#250000;
        nav ul {
            padding:0;
            margin:0;
            height:50px;
            border-top:1px solid black;
            border-bottom:1px solid black;
            list-style:none;
            position:relative;
            display:inline-table;
            text-align:center;
            color:white;
            font-size:16px;
            padding:0 10px;
            transition: 400ms ease;
            li {
                float:left;
                text-align:center;
                background:#250000;
                //height:50px;
                width:120px;
                padding:15px 22px 15px 0px;
                transition: 400ms ease;
                #leafimg {
                    float:right;
                    padding-left:16px;
                }
                &:hover {
                    color:#777;
                    cursor:pointer;
                    font-size:17px;
                    > ul {
                        //display:block;
                    }
                }
                &:after {
                    content:"";
                    clear:both;
                    display:block;
                }
            }
            ul {
                display:none;
                padding:0;
                position:absolute;
                top:100%;
                z-index:500;
                li {
                    float:none;
                    position:relative;
                }
            }
        }
    }
    .content {
        height:500px;
        background:#111;
        margin-top:-8px;
        .sidebar {
            height:100%;
            width:150px;
            border-right:2px solid black;
            padding:0px 5px 0 5px;
            .location {
                font-size:12px;
                padding-top:10px;
                h1 { 
                    font-size:12px;
                    font-weight:bold;
                }
            }
        }
    }
}
