body {
  background: linear-gradient(#250000, #450000);
  background: -webkit-linear-gradient(#250000, #450000);
  background-image: url(http://static1.grsites.com/archive/textures/red/red112.jpg);
  font-family: trebuchet ms;
  color: white;
}
.contentWrap {
  box-shadow: 1px 1px 5px 3px #100;
  margin: 0 auto;
  border: 1px solid black;
  width: 874px;
}
.contentWrap .imgprop {
  height: 250px;
  width: 920px;
  overflow: hidden;
  background-image: url('../images/header.jpg');
  background-size: 95%;
  background-position: 0 -125px;
  background-repeat: no-repeat;
}
.contentWrap .headerimg {
  height: 250px;
  width: 920px;
  overflow: hidden;
  background-image: url('../images/header.jpg');
  background-size: 95%;
  background-position: 0 -125px;
  background-repeat: no-repeat;
}
.contentWrap .shrunk {
  height: 250px;
  width: 920px;
  overflow: hidden;
  background-size: 95%;
  background-position: 0 -125px;
  background-repeat: no-repeat;
  transition: 1s ease;
  height: 100px;
  background-position: 0 -195px;
  background-image: url('../images/header.jpg');
}
.contentWrap .homeimg {
  height: 250px;
  width: 920px;
  overflow: hidden;
  background-image: url('../images/header.jpg');
  background-size: 95%;
  background-position: 0 -125px;
  background-repeat: no-repeat;
  transition: 1s ease;
}
.contentWrap .dropdown {
  background: #350000;
  background: linear-gradient(#000000, #350000);
  background: -webkit-linear-gradient(#000000, #350000);
  height: 57px;
}
.contentWrap .dropdown nav ul {
  padding: 0;
  margin: 0;
  height: 50px;
  border-top: 1px solid #150000;
  border-bottom: 1px solid black;
  list-style: none;
  position: relative;
  display: inline-table;
  text-align: center;
  color: white;
  font-size: 18px;
  padding: 0 10px;
  transition: 400ms ease;
}
.contentWrap .dropdown nav ul li {
  float: left;
  text-align: center;
  background: #350000;
  background: linear-gradient(#000000, #350000);
  background: -webkit-linear-gradient(#000000, #350000);
  width: 120px;
  padding: 15px 22px 15px 0px;
  transition: 400ms ease;
}
.contentWrap .dropdown nav ul li #leafimg {
  float: right;
  padding-left: 16px;
}
.contentWrap .dropdown nav ul li.active {
  color: maroon;
  font-style: italic;
}
.contentWrap .dropdown nav ul li:hover {
  color: #953000;
  cursor: pointer;
  font-size: 17px;
}
.contentWrap .dropdown nav ul li:after {
  content: "";
  clear: both;
  display: block;
}
.contentWrap .dropdown nav ul ul {
  display: none;
  padding: 0;
  position: absolute;
  top: 100%;
  z-index: 500;
}
.contentWrap .dropdown nav ul ul li {
  float: none;
  position: relative;
}
.contentWrap .contentprop {
  color: #eee;
  height: 500px;
  background: #000;
  opacity: 0.8;
  margin-top: -15px;
  transition: 1s ease;
}
.contentWrap .content {
  color: #eee;
  height: 500px;
  background: #000;
  opacity: 0.8;
  margin-top: -15px;
  transition: 1s ease;
}
.contentWrap .content .sidebar {
  display: none;
  float: right;
  height: 100%;
  width: 175px;
  padding: 0px 5px 0 12px;
  box-shadow: inset 6px 3px 4px -4px #222222;
}
.contentWrap .content .sidebar .location {
  font-size: 12px;
  padding-top: 10px;
}
.contentWrap .content .sidebar .location h1 {
  font-size: 12px;
  font-weight: bold;
}
.contentWrap .content .tester {
  border: 1px solid white;
  background: maroon;
  width: 200px;
  height: 200px;
}
.contentWrap .content .one {
  border: 1px solid white;
  background: blue;
  width: 200px;
  height: 200px;
}
.contentWrap .contentexpand {
  color: #eee;
  height: 500px;
  background: #000;
  opacity: 0.8;
  margin-top: -15px;
  transition: 1s ease;
  height: 650px;
}
.contentWrap .footer {
  width: 100%;
  height: 35px;
  background: #000;
  background: linear-gradient(#150000, #000000);
  background: -webkit-linear-gradient(#150000, #000000);
  border-top: 1px solid black;
}
