body { 
    background:maroon;
 }

.contentWrap {
    margin:0 auto;
    border:3px solid black;
    width:874px;
    .headerimg {
        height:250px;
        width:920px;
        overflow:hidden;
        background-image:url('images/header.jpg');
        background-size:95%;
        background-position: 0 -125px;
        background-repeat:no-repeat;
    }
}
