body {
	background-image:url('http://static1.grsites.com/archive/textures/dblue/dblue007.jpg');
	font-family:"Tahoma";
	color:#4058A7;
}

.large-header {
    position: relative;
    width: 100%;
    background: #333;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    z-index: 1;
}

.container {
	margin:0;
	width:600px;
    position:absolute;
    top:10%;
    left:10%;
	border:10px solid #030410;
	background:#000;
	text-align:center;
	padding:20px 10px 20px 10px;
    .name {
        font-size:40px;
        padding:5px, 5px 10px 5px;
    }

    .title {
        font-size:18px;
        padding:5px 5px 10px 5px;
    }

    .skills {
        font-size:14px;
        padding:5px 5px 10px 5px;
    }

    .sowhat {
        font-size:14px;
        padding:5px 5px 10px 5px;
    }
}
