body {
  margin: 0;
  padding: 0;
  font-family: blackout;
}
@font-face {
  font-family: blackout;
  src: url("fonts/theleagueof-blackout-49991ac/webfonts/blackout_sunrise-webfont.woff");
}
@font-face {
  font-family: blackout2;
  src: url("fonts/theleagueof-blackout-49991ac/webfonts/blackout_two_am-webfont.woff");
}
@font-face {
  font-family: ostrich;
  src: url("fonts/ostrich-sans-master/webfonts/ostrich-sans-rounded.woff");
}
.headerImg {
  position: relative;
  background-image: url('../images/highway.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
  min-height: 450px;
  color: white;
  box-shadow: 0 0 5px 2px #000;
}
.headerImg .title {
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  font-size: 100px;
  text-shadow: 5px 5px #222;
}
.headerImg .subTitle {
  font-family: ostrich;
  position: absolute;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.5);
  bottom: 0;
  padding-top: 8px;
  font-size: 32px;
  text-shadow: 2px 2px #222;
}
.headerImg .navBar {
  font-family: ostrich;
  padding-top: 20px;
  height: auto;
  width: 100%;
  text-align: center;
}
.headerImg .navBar .howItWorks,
.headerImg .navBar .mission,
.headerImg .navBar .signUp {
  display: inline;
  font-size: 28px;
  padding: 8px 8px 4px 10px;
  margin: 1px;
  background: rgba(0, 0, 0, 0.6);
  border: 2px solid #ccc;
  transition: 200ms;
  cursor: pointer;
}
.headerImg .navBar .howItWorks:hover,
.headerImg .navBar .mission:hover,
.headerImg .navBar .signUp:hover {
  border: 2px solid #1a6966;
  color: #1a6966;
}
.headerImg .navBar .login {
  position: absolute;
  top: 21px;
  right: 2px;
  font-size: 34px;
  transition: 200ms;
  text-shadow: 1px 1px #222;
  cursor: pointer;
  color: #29a6a2;
}
.headerImg .navBar .login i {
  padding: 0 10px;
  font-size: 24px;
}
.headerImg .navBar .login:hover {
  color: #9ce6e4;
}
.findRides {
  min-height: 200px;
  height: 100%;
  width: 100%;
  background-image: url('http://static1.grsites.com/archive/textures/dgrey/dgrey023.gif');
}
.findRides .cities {
  width: 32vw;
  padding: 10px;
  height: 300px;
  background-image: url("../images/toronto.jpg");
  background-size: cover;
}
.findRides ul.buttonWrapper {
  text-align: center;
  padding-top: 30px;
  margin: 0;
}
.findRides ul.buttonWrapper li#rideOffers,
.findRides ul.buttonWrapper li#rideSearchers,
.findRides ul.buttonWrapper li#postRide {
  color: #1a6966;
  display: inline;
  font-size: 34px;
  padding: 8px 8px 4px 10px;
  margin: 1px;
  background: rgba(0, 0, 0, 0.8);
  border: 2px solid #000;
  transition: 200ms;
  cursor: pointer;
}
.findRides ul.buttonWrapper li#rideOffers:hover,
.findRides ul.buttonWrapper li#rideSearchers:hover,
.findRides ul.buttonWrapper li#postRide:hover {
  border: 2px solid #fff;
  color: #fff;
}
.findRides ul.buttonWrapper li#rideOffers.active,
.findRides ul.buttonWrapper li#rideSearchers.active,
.findRides ul.buttonWrapper li#postRide.active {
  color: white;
}
.findRides .contentWrap {
  min-height: 500px;
  width: 90%;
  border: 2px solid #000;
  margin: 20px auto;
  background: rgba(0, 0, 0, 0.5);
}
.findRides .contentWrap .controls {
  border-bottom: 2px solid #000;
  width: 100%;
}
.findRides .contentWrap .controls .title {
  color: #1a6966;
  font-family: ostrich;
  font-size: 42px;
  text-align: center;
  padding: 10px 0;
}
