body {
	color:#ffffff;
	font-family:'georgia';
	background-color:#333333;
}

li {
	text-decoration:none;
	list-style-type:none;
}

.page {
	width:700px;
	height:400px;
	margin:0 auto;
}

.menu {
	float:left;
	position:relative;
	border-right:1px solid #555;
	padding:15px 15px 15px 15px;
}

.menu li {
	cursor:pointer;
}

.content {
	float:left;
	width:530px;
	margin-left:15px;
}

.selected {
	color:blue;
}
