body {
  background-image: url('http://static3.grsites.com/archive/textures/lgrey/lgrey013.jpg');
  font-family: tahoma;
  color: #222;
}
.container {
  width: 800px;
  margin: 30px auto;
  height: 500px;
  background: #fff;
  border: 1px solid #ccc;
  opacity: 0.9;
  padding: 15px;
}
.container .left {
  float: left;
  width: 300px;
  margin-bottom: 10px;
}
.container .left .name {
  margin: 0px 10px 6px 15px;
  float: left;
  font-size: 34px;
  border-bottom: 15px dotted #cee0f5;
  padding-bottom: 5px;
}
.container .left .awesome {
  display: none;
  float: left;
  font-size: 34px;
  margin-top: 20px;
  color: #cee0f5;
}
.container .left .cutMe {
  display: none;
  float: left;
  width: 99px;
  border-bottom: 3px dotted #999;
  margin: 35px 0 0 10px;
}
.container .left .intro .myTitle {
  font-size: 20px;
  width: 250px;
  margin: 12px auto;
}
.container .right {
  float: right;
  margin: 17px;
}
.container .right .awesomeWrench {
  font-size: 42px;
  margin: 0px -12px;
  float: right;
}
.container .right .skills {
  float: right;
}
.container .right .skills .experience,
.container .right .skills .otherTools,
.container .right .skills .lessGood {
  width: 220px;
  font-size: 14px;
  margin: 0 auto;
  padding: 1px;
}
.container .right .skills .experience {
  font-weight: bold;
}
.container .right .skills .otherTools {
  width: 320px;
  font-size: 14px;
  color: #333;
}
.container .right .skills .lessGood {
  width: 370px;
  font-size: 12px;
  color: #444;
}
.container .divide {
  height: 2px;
  width: 100%;
  margin: 0 auto;
  background: linear-gradient(to right, #ffffff, #86a9d3, #ffffff);
  float: left;
}
.container .projects {
  margin-top: 10px;
  float: left;
  text-align: center;
  height: 360px;
  width: 860px;
}
.container .projects .websites,
.container .projects .apps,
.container .projects .misc {
  float: left;
  height: 100%;
  font-size: 12px;
  width: 30%;
  margin: 10px 10px 5px 0px;
}
.container .projects .title {
  font-weight: bold;
  margin-bottom: 4px;
}
.container .projects .awesome {
  font-size: 16px;
  color: #86a9d3;
  margin: 5px;
}
.container .projects .divide {
  height: 100%;
  float: left;
  width: 2px;
  background: linear-gradient(#ffffff, #86a9d3, #ffffff);
}
.container .projects .header {
  font-size: 16px;
  color: #333;
  text-align: center;
  font-weight: bold;
  margin: 5px 0;
}
.container .contact {
  height: auto;
  width: 590px;
  margin: 0 auto;
}
.container .contact .email,
.container .contact .blurb,
.container .contact .location,
.container .contact .awesomeIcon {
  float: left;
  margin: 12px 4px;
  text-align: center;
  font-size: 13px;
  color: #222;
}
.container .contact .awesomeIcon {
  color: #86a9d3;
}
