body {
    background-image:url('../images/background.jpg');
    font-family:tahoma;
    //font-family:FuturaBT-Book;
    color:#000;
}

@lightBlue:#86a9d3;

a {
    color:#222;
    text-decoration:none;
    transition:150ms;
    &:hover {
        color:darken(@lightBlue, 10%);
    }
}

@Width:800px;

.container {
    width:@Width;
    margin:30px auto;
    height:600px;
    background:#fff;
    //box-shadow:inset 1px 0px 4px 4px #ccc;
    border:1px solid #ccc;
    opacity:0.9;
    padding:15px;
    .mainHeader {
        .left {
            float:left;
            width:300px;
            margin-bottom:10px;
            .name {
                margin:0px 10px 6px 15px;
                float:left;
                font-size:34px;
                border-bottom:15px dotted #cee0f5;
                padding-bottom:5px;
            }   
            .awesome {
                display:none;
                float:left;
                font-size:34px;
                margin-top:20px;
                color:#cee0f5;
                //color:#86a9d3;
            }
            .intro {
                .myTitle {
                    font-size:20px;
                    width:250px;
                    margin:12px auto;
                }
            }
        }
        .right {
            float:right;
            margin:17px; 
            .awesomeWrench {
                font-size:42px;
                margin:0px -12px;
                float:right;
            }
            .skills {
                float:right;
                .experience, .otherTools, .lessGood {
                    width:220px;
                    font-size:14px;
                    margin:0 auto;
                    padding:1px;
                }
                .experience {
                    font-weight:bold;
                }
                .otherTools {
                    width:320px;
                    font-size:14px;
                    color:#333;
                }
                .lessGood {
                    width:370px;
                    font-size:12px;
                    color:#444;
                }
            }
        }
    }
    .divide {
       height:2px;
       width:100%;
       margin:0 auto;
       background:linear-gradient(to right, #fff, #86a9d3, #fff);
       float:left;
    }
    .contact {
        width:590px;
        margin:0 auto;
        .blurb {
            float:left;
            margin:12px 4px;
            text-align:center;
            font-size:13px;
        }
    }
    .projects {
        margin-top:15px;
        float:left;
        text-align:center;
        height:240px;
        width:@Width;
        .header {
            font-size:16px;
            color:#111;
            text-align:center;
            text-decoration:underline;
            font-weight:bold;
            margin:5px 0;
        }
        .websites, .apps, .misc {
            float:left;
            height:100%;
            font-size:13px;
            width:255px;
            margin:10px 10px 5px 0px;
        }
        .eachOne {
            margin:8px 8px 15px;
            i { font-size:52px; color:#333; margin-top:12px; }
        }
        .title {
            font-weight:bold;
            margin-bottom:4px;
        }
        .awesome {
            font-size:18px;
            color:#86a9d3;
            margin:5px;
        }
        .divideVert {
            height:100%;
            opacity:0.5;
            float:left;
            width:2px;
            background:linear-gradient(#fff, #86a9d3, #fff);
        }
        .previews {
            width:751px;
            margin:0 auto;
            .koyoImg {
                float:left;
                height:110px;
                width:165px;
                background-image:url('../images/koyo.png');
                background-size:100%;
                border:1px solid black;
                margin:4px;
                >div {
                    margin-top:112px;
                    font-size:12px;
                }
            }
            .oldImg {
                .koyoImg;
                width:120px;
                background-image:url('../images/oldsite.png');
            }
            .portal {
                .koyoImg;
                width:146px;
                background-image:url('../images/portal.png');
            }
            .whitespace {
                .koyoImg;
                width:135px;
                background-image:url('../images/whitespace.png');
            }
            .cube {
                .koyoImg;
                width:135px;
                background-image:url('../images/cube.png');
            }
        }
    }
    .montreal {
        float:left;
        background-image:url('../images/montreal.png');
        background-size:120%;
        width:815px;
        height:631px;
        margin-top:-15px;
        z-index:-10;
        position:absolute;
        opacity:0.05;
    }
}

